@font-face { font-family: 'Saira'; src: url("/fonts/saira/Saira-Regular.ttf"); }
@font-face { font-family: 'Saira-Bold'; src: url("/fonts/saira/Saira-Bold.ttf"); }
@font-face { font-family: 'Saira-Light'; src: url("/fonts/saira/Saira-Light.ttf"); }
@font-face { font-family: 'Poppins'; src: url("/fonts/poppins/Poppins-Regular.ttf"); }
@font-face { font-family: 'Poppins-Bold'; src: url("/fonts/poppins/Poppins-Bold.ttf"); }
::-moz-selection { background: #ff3d4f; }

::selection { background: #ff3d4f; }

img::-moz-selection { background: transparent; }

img::selection { background: transparent; }

@-webkit-keyframes vertical { 0%,
  60%,
  80%,
  100% { -webkit-transform: translateY(0); }
  20% { -webkit-transform: translateY(-5px); }
  40% { -webkit-transform: translateY(20px); } }
@keyframes vertical { 0%,
  60%,
  80%,
  100% { -webkit-transform: translateY(0); }
  20% { -webkit-transform: translateY(-5px); }
  40% { -webkit-transform: translateY(20px); } }
p { margin: 0; padding: 0; }

h2 { font-size: 48px; font-family: 'Saira-Bold'; letter-spacing: 0.05em; text-align: left; text-transform: uppercase; margin: 0px 0px 80px 0px; position: relative; }

body { background: #191a1c; color: #ffffff; font-size: 14px; padding: 0; margin: 0; font-family: 'Saira'; }

.orange { color: #ff3d4f; }

.wrap { width: 100%; max-width: 1200px; display: flex; }

.contact-me { position: fixed; z-index: 2; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 16px; letter-spacing: 0.1em; }
.contact-me li { list-style: none; text-align: center; margin-bottom: 8px; }
.contact-me li i { font-size: 20px; color: #ffffff; }
.contact-me li a:hover i { color: #ff3d4f; -webkit-transform: scale(1.2); transform: scale(1.2); }
.contact-me .li-90 { -webkit-transform: rotate(90deg); transform: rotate(-90deg); margin-top: 115px; }
.contact-me .li-90:after { content: ""; display: block; position: absolute; width: 50px; height: 2px; background: #9da1a5; top: 50%; margin-top: -2px; right: -67px; }

header { background: #1d1e20; height: 70px; width: 100%; position: fixed; z-index: 3; align-items: center; justify-content: center; display: flex; }
header .wrap { justify-content: space-between; align-items: center; }
header .logo { display: flex; flex-direction: column; align-items: center; letter-spacing: 0.05em; }
header .nav-btn { padding: 5px; cursor: pointer; }
header .nav-btn .bar-1, header .nav-btn .bar-2, header .nav-btn .bar-3 { display: block; width: 22px; height: 3px; background: #9da1a5; -webkit-transition: 0.2s; transition: 0.2s; margin-left: 5px; }
header .nav-btn .bar-2 { margin: 6px 0; }
header .nav-btn:hover .bar-1, header .nav-btn:hover .bar-2, header .nav-btn:hover .bar-3 { background: #ff3d4f; -webkit-transition: 0.2s; transition: 0.2s; margin-left: 0; }
header .nav-btn.open .bar-2 { display: none; }
header .nav-btn.open .bar-1 { transform: rotate(45deg); position: relative; top: 2px; width: 24px; background: #ff3d4f; margin-left: 0; }
header .nav-btn.open .bar-3 { transform: rotate(-45deg); position: relative; top: -1px; width: 24px; background: #ff3d4f; margin-left: 0; }
header .navs { display: none; margin-right: 20px; flex-direction: row; margin-left: auto; padding: 0; }
header .navs.open { display: flex; }
header .navs li { list-style: none; margin-left: 20px; }
header .navs li:first-child { margin-left: 0; }
header .navs li a { color: #ffffff; text-decoration: none; font-size: 16px; -webkit-transform: scale(1.2); transform: scale(1.2); }
header .navs li a:hover { color: #ff3d4f; -webkit-transform: scale(1.2); transform: scale(1.2); }
header .myname { font-size: 26px; line-height: 26px; color: #ffffff; text-decoration: none; }
header .myprof { font-family: "Saira-Light"; color: #9da1a5; text-transform: uppercase; font-size: 12px; letter-spacing: 0.05em; }

.first-section { min-height: 100vh; width: 100%; display: flex; align-items: center; justify-content: center; }
.first-section .wrap { z-index: 2; flex-wrap: wrap; }
.first-section .fullname { font-size: 20px; color: #9da1a5; width: 100%; display: flex; flex-direction: row; align-items: center; margin-bottom: 50px; }
.first-section .fullname:before { content: ""; display: block; width: 18px; height: 3px; background: #ff3d4f; margin-right: 10px; }
.first-section .typed-cursor { font-size: 60px; padding-left: 10px; padding-top: 28px; color: #ffffff; }
.first-section .typed-cursor.typed-cursor--blink { -webkit-animation: typedjsBlink 1.2s infinite; animation: typedjsBlink 1.2s infinite; }
.first-section .profession { display: block; font-size: 90px; margin: 0; font-family: "Saira-Bold"; color: transparent; -webkit-text-stroke: 1px #ffffff; letter-spacing: 0.05em; margin-bottom: 30px; }
.first-section .adress { width: 100%; border-left: 3px solid #ff3d4f; padding-left: 20px; font-family: 'Saira-Light'; letter-spacing: 0.1em; font-size: 16px; line-height: 20px; padding: 10px 20px; }
.first-section .adress .state { display: block; color: #9da1a5; font-size: 18px; line-height: 20px; font-family: 'Saira-Bold'; letter-spacing: 0.05em; margin-bottom: 10px; }
.first-section .bg-image { position: absolute; opacity: 0.1; width: 100%; height: 100%; overflow: hidden; }
.first-section .bg-image img { display: block; width: 100%; height: auto; min-height: 100%; z-index: 1; }
.first-section .scrolling { position: absolute; bottom: 0; right: 30%; width: 28px; height: 120px; z-index: 1; }
.first-section .scrolling .mouse { position: absolute; height: 38px; width: 22px; border: 3px solid #ffffff; border-radius: 13px; left: 0px; top: 22px; -webkit-animation: vertical 3s ease infinite; animation: vertical 3s ease infinite; }
.first-section .scrolling .mouse:before { content: ""; display: block; height: 8px; width: 4px; background-color: #ffffff; position: absolute; top: 6px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); border-radius: 2px; }
.first-section .scrolling:before { content: ""; display: block; height: 100%; width: 0px; border-right: 1px dashed #9da1a5; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.first-section .scrolling:after { content: ""; display: block; height: 8px; width: 8px; border-radius: 50%; background: #ffffff; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.section-me { display: flex; justify-content: center; background: no-repeat top -60px center url(/img/bg-paterns.png) #131314; background-size: 100% auto; padding: 80px 0; }
.section-me .wrap { align-items: center; flex-direction: column; }
.section-me .me-img { width: 500px; height: 500px; background: no-repeat url(/img/circle.gif); background-size: 100% 100%; display: flex; align-items: center; justify-content: center; margin-bottom: 10px; }
.section-me .me-img .img { width: 200px; height: 200px; display: block; border-radius: 50%; border: 5px solid #1F2235; }
.section-me .txt-me { font-size: 36px; text-align: center; font-family: 'Poppins'; color: #ffffff; }
.section-me .txt-me .name { font-family: 'Poppins-Bold'; font-size: 60px; }

.section-skills { display: flex; justify-content: center; padding: 50px 0; }
.section-skills .wrap { flex-direction: column; }
.section-skills .skill-list { display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; padding-left: 0; }
.section-skills .skill-list li { list-style: none; width: 25%; text-align: center; font-size: 20px; margin-bottom: 50px; -webkit-transition: 0.3s; transition: 0.3s; }
.section-skills .skill-list li img { height: 100px; }
.section-skills .skill-list li:hover { -webkit-transform: scale(1.1); transform: scale(1.1); -webkit-transition: 0.3s; transition: 0.3s; }

.section-portfolio { display: flex; justify-content: center; padding: 50px 0; background: #131314; }
.section-portfolio .wrap { flex-direction: column; }
.section-portfolio .work-list { list-style: none; padding-left: 0; display: flex; flex-direction: row; flex-wrap: wrap; gap: 2.66%; }
.section-portfolio .work-list .work { width: 23%; height: 320px; background: #23263a; position: relative; margin-bottom: 1.33%; background-size: 100% 100%; }
.section-portfolio .work-list .work.era { background-image: url(/img/era-bg.jpg); }
.section-portfolio .work-list .work.yeezy { background-image: url(/img/yeezy-bg.jpg); }
.section-portfolio .work-list .work.hp { background-image: url(/img/hp-bg.jpg); }
.section-portfolio .work-list .work.gamescore { background-image: url(/img/gamescore.jpg); }
.section-portfolio .work-list .work.svadba { background-image: url(/img/svadba.jpg); }
.section-portfolio .work-list .work.kingdom { background-image: url(/img/kingdom.jpg); }
.section-portfolio .work-list .work.plitka { background-image: url(/img/plitka.jpg); }
.section-portfolio .work-list .work.block { background-image: url(/img/block.jpg); }
.section-portfolio .work-list .work a { font-size: 24px; font-family: 'Saira-Bold'; letter-spacing: 0.03em; line-height: 34px; color: #ffffff; width: 100%; height: 100%; text-align: center; display: flex; align-items: flex-end; text-decoration: none; position: relative; z-index: 2; text-shadow: 0px 0px 10px black; }
.section-portfolio .work-list .work a span { padding: 10px; width: 100%; }
.section-portfolio .work-list .work:before { display: block; position: absolute; content: ""; border: 1px solid transparent; width: 0; height: 0; top: 0; left: 0; box-sizing: border-box; z-index: 1; }
.section-portfolio .work-list .work:after { content: ""; display: block; position: absolute; border: 1px solid transparent; width: 0; height: 0; bottom: 0; right: 0; box-sizing: border-box; z-index: 1; }
.section-portfolio .work-list .work:hover:before { width: 100%; height: 100%; border-top-color: #ff3d4f; border-right-color: #ff3d4f; transition: width 0.15s ease-out, height 0.15s ease-out 0.15s; }
.section-portfolio .work-list .work:hover:after { width: 100%; height: 100%; border-bottom-color: #ff3d4f; border-left-color: #ff3d4f; transition: width 0.15s ease-out, height 0.15s ease-out 0.15s; }

footer { display: flex; justify-content: center; padding: 30px; }
footer p { text-align: center; width: 100%; }
