@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Regular.ttf');
}

@font-face {
  font-family: 'Saira-Bold';
  src: url('/fonts/saira/Saira-Bold.ttf');
}

@font-face {
  font-family: 'Saira-Light';
  src: url('/fonts/saira/Saira-Light.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('/fonts/poppins/Poppins-Bold.ttf');
}




$bg-primary: #191a1c;
$bg-second: #1d1e20;
$bg-black: #131314;

$blue-primary: #1F2235;
$blue-second: #23263a;

$orange: #ff3d4f;

$txt-main: #ffffff;
$txt-second: #9da1a5;

::-moz-selection {
  background: $orange;
}

::selection {
  background: $orange;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

@-webkit-keyframes vertical {

  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-5px);
  }

  40% {
    -webkit-transform: translateY(20px);
  }
}

@keyframes vertical {

  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-5px);
  }

  40% {
    -webkit-transform: translateY(20px);
  }
}

p {
  margin: 0;
  padding: 0;
}

h2{
  font-size: 48px;
  font-family: 'Saira-Bold';
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  margin: 0px 0px 80px 0px;
  position: relative;
  

}

body {
  background: $bg-primary;
  color: $txt-main;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: 'Saira';
}


.orange {
  color: $orange;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  display: flex;

}

.contact-me {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  letter-spacing: 0.1em;


  li {
    list-style: none;
    text-align: center;
    margin-bottom: 8px;
    
    i{
      font-size: 20px;
      color: $txt-main;
    }
    
    a:hover i{
      color: $orange;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  .li-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    margin-top: 115px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 2px;
      background: $txt-second;
      top: 50%;
      margin-top: -2px;
      right: -67px;
    }
  }
}


// MAIN PAGE

header {
  background: $bg-second;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 3;
  align-items: center;
  justify-content: center;
  display: flex;

  .wrap {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.05em;
  }


  .nav-btn {
    padding: 5px;
    cursor: pointer;

    .bar-1,
    .bar-2,
    .bar-3 {
      display: block;
      width: 22px;
      height: 3px;
      background: $txt-second;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      margin-left: 5px;
    }

    .bar-2 {
      margin: 6px 0;
    }


    &:hover {
      .bar-1,
      .bar-2,
      .bar-3{
        background: $orange;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        margin-left: 0;
      }
    }
    
    &.open{
      .bar-2 {
        display: none;
      }
      
      .bar-1 {
        transform: rotate(45deg);
        position: relative;
        top: 2px;
        width: 24px;
        background: $orange;
        margin-left: 0;
      }
      .bar-3 {
        transform: rotate(-45deg);
        position: relative;
        top: -1px;
        width: 24px;
        background: $orange;
        margin-left: 0;
      }
    }
  }

  .navs{
    display: none;
    margin-right: 20px;
    flex-direction: row;
    margin-left: auto;
    padding: 0;
    
    &.open{
      display: flex;
    }
    
    li{
      list-style: none;
      margin-left: 20px;
      
      &:first-child{
        margin-left: 0;
      }
      a{
        color: $txt-main;
        text-decoration: none;
        font-size: 16px;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        
        &:hover{
          color: $orange;
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }
  
  .myname {
    font-size: 26px;
    line-height: 26px;
    color: $txt-main;
    text-decoration: none;
  }

  .myprof {
    font-family: "Saira-Light";
    color: $txt-second;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
  }
}

.first-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrap {
    z-index: 2;
    flex-wrap: wrap;
  }

  .fullname {
    font-size: 20px;
    color: $txt-second;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;

    &:before {
      content: "";
      display: block;
      width: 18px;
      height: 3px;
      background: $orange;
      margin-right: 10px;
    }
  }

  .typed-cursor {
    font-size: 60px;
    padding-left: 10px;
    padding-top: 28px;
    color: $txt-main;

    &.typed-cursor--blink {
      -webkit-animation: typedjsBlink 1.2s infinite;
      animation: typedjsBlink 1.2s infinite;
    }
  }

  .profession {
    display: block;
    font-size: 90px;
    margin: 0;
    font-family: "Saira-Bold";
    color: transparent;
    -webkit-text-stroke: 1px $txt-main;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
  }

  .adress {
    width: 100%;
    border-left: 3px solid $orange;
    ;
    padding-left: 20px;
    font-family: 'Saira-Light';
    letter-spacing: 0.1em;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;

    .state {
      display: block;
      color: $txt-second;
      font-size: 18px;
      line-height: 20px;
      font-family: 'Saira-Bold';
      letter-spacing: 0.05em;
      margin-bottom: 10px;
    }
  }

  .bg-image {
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      min-height: 100%;
      z-index: 1;
    }
  }
  
  .scrolling{
    position: absolute;
    bottom: 0;
    right: 30%;
    width: 28px;
    height: 120px;
    z-index: 1;
    
    .mouse{
      position: absolute;
      height: 38px;
      width: 22px;
      border: 3px solid #ffffff;
      border-radius: 13px;
      left: 0px;
      top: 22px;
      -webkit-animation: vertical 3s ease infinite;
      animation: vertical 3s ease infinite;
      
      &:before{
        content: "";
        display: block;
        height: 8px;
        width: 4px;
        background-color: #ffffff;
        position: absolute;
        top: 6px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 2px;
      }
    }
    
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 0px;
      border-right: 1px dashed $txt-second;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    
    &:after {
      content: "";
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $txt-main;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}


.section-me{
  display: flex;
  justify-content: center;
  background: no-repeat top -60px center url(/img/bg-paterns.png) $bg-black;
  background-size: 100% auto;
  padding: 80px 0;
  
  .wrap{
    align-items: center;
    flex-direction: column;
  }
  
  .me-img{
    width: 500px;
    height: 500px;
    background: no-repeat url(/img/circle.gif);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
    .img{
      width: 200px;
      height: 200px;
      display: block;
      border-radius: 50%;
      border: 5px solid $blue-primary;
    }
  }
  
  .txt-me{
    font-size: 36px;
    text-align: center;
    font-family: 'Poppins';
    color: $txt-main;
    
    .name{
      font-family: 'Poppins-Bold';
      font-size: 60px;
    }
  }
}


.section-skills{
  display: flex;
  justify-content: center;
  padding: 50px 0;
  
  .wrap{
    flex-direction: column;
  }
  
  .skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 0;
    
    li{
      list-style: none;
      width: 25%;
      text-align: center;
      font-size: 20px;
      margin-bottom: 50px;
      -webkit-transition: 0.3s;
      transition: 0.3s;

      img{
        height: 100px;
      }

      &:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
  }
}


.section-portfolio{
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background: $bg-black;
  
  .wrap{
    flex-direction: column;
  }
  
  .work-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.66%;
    .work{
      width: 23%;
      height: 320px;
      background: $blue-second;
      position: relative;
      margin-bottom: 1.33%;
      background-size: 100% 100%; 
      
      
      &.era{
        background-image: url(/img/era-bg.jpg);
      }
      &.yeezy{
        background-image: url(/img/yeezy-bg.jpg);
      } 
      &.hp{
        background-image: url(/img/hp-bg.jpg);
      }
      &.gamescore{
        background-image: url(/img/gamescore.jpg);
      }
      &.svadba{
        background-image: url(/img/svadba.jpg);
      }
      &.kingdom{
        background-image: url(/img/kingdom.jpg);
      }
      &.plitka{
        background-image: url(/img/plitka.jpg);
      }
      &.block{
        background-image: url(/img/block.jpg);
      }


      a {
        font-size: 24px;
        font-family: 'Saira-Bold';
        letter-spacing: 0.03em;
        line-height: 34px;
        color: $txt-main;
        width: 100%;
        height: 100%;  
        text-align: center;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        position: relative;
        z-index: 2;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        
        span{
          padding: 10px;
          width: 100%;
        }
      }
      
      
      &:before{
        display: block;
        position: absolute;
        content: "";
        border: 1px solid transparent;
        width: 0;
        height: 0;
        top: 0;
        left: 0; 
        box-sizing: border-box;
        z-index: 1;

      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        border: 1px solid transparent;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        z-index: 1;
      }
      
      
      
      &:hover{
       
  
        &:before{
          width: 100%;
          height: 100%;
          border-top-color: $orange;
          border-right-color: $orange;
          transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
        }
        
        &:after{
          width: 100%;
          height: 100%;
          border-bottom-color: $orange;
          border-left-color: $orange;
          transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
        }
      }
    }
  }
  
}


footer{
  display: flex;
  justify-content: center;
  padding: 30px;
  
  p{
    text-align: center;
    width: 100%;
  }
}