//W41-- FONT FACE
@font-face {
  font-family: "Roboto-300";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-500";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-700";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}





//W41-- CUSTOM STYLE

html,
body{
  font-family: "Roboto";
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
}

body{
  background: #2D2D32;
  display: flex;
  flex-direction: column;
}

main{
  flex: auto;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  
  &.hf{
    max-width: 1216px;
  }
  
  &.cont-res{
    max-width: 1216px;
  }
  
  &.cont-match{
    max-width: 1216px;
  }
}

ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.show-mob{
  display: none;
}



//W41-- HEADER STYLE

header{
  background: #1B1B1E;
  min-height: 60px;
  padding: 12px 0;
  
  .header-row{
    align-items: center;
  }
  
  .logo{
    display: block;
    
    img{
      height: 36px;
    }
  }
  
  .logo-mob{
    display: none;
  }

  .nav{
    margin-left: 12px;
    .nav-item{
      margin-right: 37px;
      
      &:last-child{
        margin-right: 0;
      }
    }
    
    .nav-link{
      padding: 0;
      color: #959599;
      font-size: 14px;
      font-family: "Roboto-500";
      text-transform: uppercase;
      line-height: 29px;
      
      &.active{
        color: #1FA357;
        font-family: "Roboto-700";
      }
      
      &.red-dot:before{
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #B21F18;
        margin-right: 4px;
        vertical-align: top;
        margin-top: 11px;
      }
    }
  }
  
  .header-search{
    width: 256px;
    border: 1px solid #494949;
    padding: 0 15px 0 20px;
    border-radius: 51px;
    margin-left: 50px;
    
    .form-group{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
    }
    
    .input-HS{
      width: calc(100% - 15px);
      display: block;
      padding: 0;
      border: none;
      line-height: 15px;
      height: 27px;
      outline: none;
      background: transparent;
      color: #C4C4C4;
      font-size: 12px;
    }
    
    .btn-HS{
      display: block;
      width: 20px;
      height: 20px;
      border: none;
      padding: 0;
      background: url(../img/icons/search.svg);
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  
  
  .lang-H{
    position: relative;
    float: right;
    
    .current-lang{
      cursor: pointer;
    }
    
    img{
      width: 26px;
      height: 26px;
      border: 2px solid #2D2D32;
      border-radius: 50%;
      display: block;
    }
    
    .drop-menu{
      display: none;
      position: absolute;
      top: 26px;
      
      .drop-item{
        margin: 5px 0;
        display: block;
        background: #2D2D32;
        border-radius: 50%;
      }
    }
    
    &:hover{
      .drop-menu{
        display: block;
        z-index: 1000;
      }
    }
  }
}




//W41-- MAIN STYLE

main{
  padding: 10px 0;
  
  .main-row{
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .main-col{
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .main-grey-btn{
    display: block;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: #1B1B1E;
    border: 1px solid #909090;
    border-radius: 6px;
    width: 100%;
    line-height: 46px;
    font-family: "Roboto-500";
    font-size: 14px;
    color: #858585;
    margin-bottom: 10px;
    
    &.mob{
      display: none;
    }
  }
  
  .main-red-btn{
    display: block;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: #1B1B1E;
    border: 1px solid #C54213;
    border-radius: 5px;
    width: 100%;
    line-height: 38px;
    font-family: "Roboto";
    font-size: 13px;
    color: #D53901;
    margin-bottom: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.52);
    
    .icon{
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url(../img/icons/red-btn-icon.svg);
      background-size: 100% 100%;
      vertical-align: middle;
      position: relative;
      top: -1px;
      margin-left: 4px;
    }
  }
  
  .z-tabs{
    margin-bottom: 12px;
    .z-tab-item{
      width: calc(50% - 3px);
      margin-right: 6px;
      
      &:last-child{
        margin-right: 0;
      }
    }
    
    &.tab-b{
      margin-bottom: -4px;
      position: relative;
      z-index: 1;
      &.tab-3{
        .z-tab-item{
          width: calc(33.33% - 5px);
          margin-right: 7px;

          &:last-child{
            margin-right: 0;
          }
        }
      }
      
      .z-tab-link{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding-bottom: 3px;
        
        &.active{
          border-bottom: none;
          padding-bottom: 4px;
        }
      }
    }
    
    .z-tab-link{
      text-align: center;
      display: block;
      width: 100%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.52);
      background: #2D2D32;
      border-radius: 10px;
      color: #858585;
      font-family: "Roboto";
      font-size: 13px;
      line-height: 28px;
      outline: none;
      text-decoration: none;
      
      &.active{
        border: 1px solid #1FA357;
        color: #1FA357;
        font-family: "Roboto-500";
        line-height: 26px;
      }
    }
  }
  
  .list-match{
    list-style: none;
    padding-left: 0;
    
    .match-name{
      font-size: 10px;
      line-height: 12px;
      color: #fff;
      font-family: "Roboto";
      margin-bottom: 4px;
    }
    
    .match{
      background: #1B1B1E;
      border: 1px solid #414141;
      box-sizing: border-box;
      border-radius: 5px;
      min-height: 99px;
      margin-bottom: 5px;
      position: relative;
      overflow: hidden;
      
      &.active{
        border-color: #1FA357;
      }
      
      &.drop.open{
        .match-Drop{
          margin-right: 0;
        }
      }
 
      .match-link{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        text-decoration: none;
        outline: none;
      }
      
      .l-team{

        width: 33%;
        padding: 8px 5px 4px 5px;
        box-sizing: border-box;
        
        &.win:after{
          content: "";
          display: block;
          position: absolute;
          width: 4px;
          left: 0;
          top: 0;
          bottom: 0;
          border-left: 2px solid #B21F18;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }

      .score{
        width: 34%;
        display: flex;
        align-items: center;
      }
      
      .f-time{
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 13px;
        line-height: 22px;
        font-family: "Roboto";
        
        .hour{
          background: #414141;
          display: block;
          min-width: 50px;
          margin-bottom: 1px;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
        }
        .day{
          background: #414141;
          display: block;
          min-width: 50px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      
      .r-team{
        width: 33%;
        padding: 8px 5px 4px 5px;
        box-sizing: border-box;
        
        &.win:after{
          content: "";
          display: block;
          position: absolute;
          width: 4px;
          right: 0;
          top: 0;
          bottom: 0;
          border-right: 2px solid #B21F18;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      
      
      .score-data{
        position: relative;
        margin: 0 auto;
        
        .data{
          text-align: center;
          font-size: 21px;
          line-height: 23px;
          color: #D53901;
          font-family: "Roboto-700";
          margin-bottom: 0;
        }
        
        .shield-div{
          position: absolute;
          top: -12px;
          
          &.l{
            left: -24px;
          }
          &.r{
            right: -24px;
          }
        }
        
        .shield{
          display: block;
          text-align: center;
          line-height: 24px;
          background: url(../img/icons/shield.svg);
          background-size: 20px 24px;
          background-repeat: no-repeat;
          width: 20px;
          height: 24px;
          font-family: "Roboto";
          font-size: 8px;
          color: #D53901;
          margin-bottom: 1px;
          
        }
      }
      
      .team-name{
        font-size: 9px;
        line-height: 11px;
        height: 22px;
        font-family: "Roboto";
        color: #DEDEDE;
        text-align: center;
        margin-bottom: 8px;
        position: relative;
        overflow: hidden;
        
        span{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      
      .team-logo{
        position: relative;
        height: 55px;
        display: flex;
        justify-content: center; 
        align-items: flex-start;
        
        .img{
          max-width: 80%;
          max-height: 80%;
        }
      }
      
      .score.live{
        
        .time{
          text-align: center;
          font-family: "Roboto-500";
          color: #8F8F8F;
          font-size: 12px;
          margin-bottom: 0;
        }
        
        .data{
          font-family: "Roboto-500";
          font-size: 17px;
          color: #fff;
          margin: 17px 0 20px 0
        }
        
        .map{
          font-family: "Roboto";
          font-size: 10px;
          color: #D1D1D1;
          margin-bottom: 2px;
          line-height: 11px;
          
          .green{
            font-family: "Roboto-500";
            font-size: 11px;
            line-height: 11px;
            color: #1FA357;
            padding: 0 2px;
          }
        }
        
        
      }
    }
  }
    

  .details-match{
    background: #1B1B1E;
    border-radius: 5px;
    padding: 20px 15px 5px 15px;
    
    .dm-header{
      display: flex;
      flex-direction: row;
      
      .l-team,
      .r-team{
        width: 36%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
      .l-team{
        .score{
          justify-content: flex-end;
        }
        
        .shilds-team{
          margin-left: 0;
          margin-right: 7px;
        }
        
        .score .plus{
          left: auto;
          right: 2px;
        }
      }
      
      .team-img{
        width: 45%;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      
      .score{
        width: 55%;
        position: relative;
        display:flex;
        flex-direction: row;
        align-items: center;
        
        .data{
          font-family: "Roboto-500";
          font-size: 20px;
          color: #fff;
        }
        
        .plus{
          position: absolute;
          left: 2px;
          bottom: -25px;
          font-family: "Roboto-700";
          font-size: 14px;
          color: #D53901;
        }
      }
      
      .time-live{
        width: 28%;
        text-align: center;
        font-family: "Roboto-500";
        font-size: 13px;
        color: #8F8F8F;
        
        .time{
          position: relative;
          top: -10px;
        }
      }
      
      .shilds-team{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-left: 7px;
        
        .shild{
          display: inline-block;
          height: 21px;
          width: 18px;
          font-family: "Roboto-500";
          font-size: 7px;
          color: #fff;
          line-height: 21px;
          text-align: center;
          background: url(../img/icons/shield-grey.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          text-transform: uppercase;
          margin-right: -3px;
          vertical-align: middle;
          
          &.green{
            background-image: url(../img/icons/shield-green.svg);
            color: #1FA357;
            font-family: "Roboto-700";
          }
          &.red{
            background-image: url(../img/icons/shield-red.svg);
            color: #D53901;
            font-family: "Roboto-700";
          }
        }
      }
    }
    
    .dm-info{
      padding: 12px 15px 0 15px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      
      
      .list-pl{
        width: 34%;
        
        &.r{
          text-align: right;
          
          .rate-pl{
            left: auto;
            right: -3px;
          }
          
          .stat-pl{
            justify-content: flex-end;
          }
          
          .coins-pl{
            &:before{
              display: none;
            }

            &:after{
              content: "";
              display: inline-block;
              height: 13px;
              width: 12px;
              background: url(../img/icons/coins.svg);
              background-position: center center;
              background-size: 100% 100%;
              vertical-align: middle;
              margin-left: 3px;
            }
          }
        }
        
        .pl{
          margin-bottom: 15px;
        }
      }
      
      .name-pl{
        font-size: 13px;
        line-height: 14px;
        color: #fff;
        margin-bottom: 6px;
        width: 100%;
      }
      
      .img-pl{
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background: #C4C4C4;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 3px;
        
        .img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        
        .rate-pl{
          position: absolute;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          border: 1px solid #2A2A33;
          box-sizing: border-box;
          background: #1B1B1E;
          color: #D53901;
          font-size: 10px;
          line-height: 19px;
          font-family: "Roboto-500";
          text-align: center;
          left: -3px;
          bottom: -3px;
        }
      }
      
      .info-pl{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;
        padding-top: 7px;
        
        .stat-pl{
          display: flex;
          flex-direction: row;
          font-family: "Roboto";
          font-size: 12px;
          line-height: 14px;
          color: #fff;
          margin-bottom: 4px;
          
          .green{
            color: #1FA357;
          }
          
          .white{
            color: #fff;
            
            &:before,
            &:after{
              content: "/";
            }
          }
          
          .red{
            color: #D53901;
          }
        }
        
        .coins-pl{
          font-family: "Roboto";
          color: #fff;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 0;
          
          &:before{
            content: "";
            display: inline-block;
            height: 13px;
            width: 12px;
            background: url(../img/icons/coins.svg);
            background-position: center center;
            background-size: 100% 100%;
            vertical-align: middle;
            margin-right: 3px;
          }
        }
      }
      
      .graphic{
        width: 32%;
        
        .img{
          margin-top: 60px;
          max-width: 100%;
        }
      }
    }
    
  }
  
  
  .match-translation{
    .bg-trsl{
      width: 100%;
      background: #C4C4C4;
      border-radius: 5px;
      min-height: 371px;
      margin-bottom: 10px;
    }
    
    .md-trsl{
      width: 100%;
      background: #C4C4C4;
      border-radius: 5px;
      min-height: 160px;
    }
  }
  
  
  .teams-list{
    
    .team{
      background: #1B1B1E;
      border-radius: 5px;
      min-height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px 9px 20px;
      margin-bottom: 5px;
      cursor: pointer;

    }
    
          
    .active{
      .team{
        border: 1px solid #1FA357;
        padding: 9px 19px 8px 19px;
      }
      
    }
    
    .team-logo{
      width: 10%;
      margin-right: 2%;
      text-align: center;
      
      .img{
        max-height: 100%;
        max-width: 100%;
      }
    }
    
    .team-name{
      width: 12%;
      margin-right: 1%;
      font-size: 16px;
      line-height: 19px;
      font-family: "Roboto";
    }
    
    .team-country{
      width: 6%;
      margin-right: 3%;
      
      .img{
        max-width: 100%;
        border-radius: 1px;
      }
    }
    
    .team-players{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 51%;
      margin-right: 3%;
      
      .player{
        text-align: center;
        width: 20%;
        
        .img{
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin: 0 auto 5px auto;
          border: 1px solid #353535;
          box-sizing: border-box;
          overflow: hidden;
          
          img{
            height: calc(100% + 2px);
            width: calc(100% + 2px);
            margin: -1px;
          }
        }
      }
      
      .player-name{
        font-family: "Roboto";
        font-size: 10px;
        line-height: 10px;
        max-height: 20px;
        margin-bottom: 0;
        color: #fff;
        text-align: center;
      }
    }
    
    .team-winrate{
      font-family: "Roboto-500";
      font-size: 15px;
      line-height: 19px;
      color: #D53901;
      width: 12%;
    }
  }
  
  
  .team-tours{
    
    .tour{
      min-height: 80px;
      background: #1B1B1E;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 30px;
      margin-bottom: 5px;
    }
    
    .tour-img{
      display: block;
      width: 60%;
      text-align: center;
      
      .img{
        max-width: 100%;
        max-height: 50px;
      }
    }
    
    .tour-date{
      margin-bottom: 0;
      width: 40%;
      .day{
        display: block;
        font-family: "Roboto-500";
        color: #fff;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 5px;
        text-align: right;
      }
      .time{
        display: block;
        font-family: "Roboto";
        font-size: 13px;
        line-height: 15px;
        color: #C6C6C6;
        text-align: right;
      }
    }
  }
  
  .players-list{
    
    .player{
      background: #1B1B1E;
      border-radius: 5px;
      min-height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px 9px 20px;
      margin-bottom: 5px;
      cursor: pointer;
    }
    
    .active{
      .player{
        border: 1px solid #1FA357;
        padding: 9px 19px 8px 19px;
      }
    }
    
    .player-img{
      width: 14%;
      margin-right: 1%;
      text-align: center;
      position: relative;
      
      .player-rate{
        border: 1px solid #393939;
        box-sizing: border-box;
        display: block;
        position: absolute;
        right: 5px;
        bottom: -2px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        font-family: "Roboto-500";
        text-align: center;
        line-height: 24px;
        font-size: 14px;
        color: #D53901;
        background: #1B1B1E;
      }
      
      .img{
        max-height: 100%;
        max-width: 100%;
      }
    }
    
    .player-name{
      width: 20%;
      margin-right: 1%;
      font-size: 16px;
      line-height: 19px;
      font-family: "Roboto";
    }
    
    .player-country{
      width: 7%;
      margin-right: 9%;
      
      .img{
        max-width: 100%;
        border-radius: 1px;
      }
    }
    
    .player-heroes{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 28%;
      margin-right: 10%;
      
      .hero{
        text-align: center;
        width: 33.33%;
        
        .img{
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin: 0 auto 5px auto;
          border: 1px solid #353535;
          box-sizing: border-box;
          overflow: hidden;
          
          img{
            height: calc(100% + 2px);
            width: calc(100% + 2px);
            margin: -1px;
          }
        }
      }
      
      .hero-winrate{
        font-family: "Roboto-500";
        font-size: 10px;
        line-height: 14px;
        max-height: 14px;
        margin-bottom: 0;
        color: #D53901;
        text-transform: uppercase;
        text-align: center;
      }
    }
    
    .player-team{
      font-family: "Roboto-500";
      font-size: 16px;
      line-height: 19px;
      color: #D53901;
      width: 10%;
      text-align: center;
      
        .img{
          max-width: 100%;
          max-height: 100%;
        }
    }
  }
  
  .player-stat{
    
    .stat{
      min-height: 80px;
      background: #1B1B1E;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 15px 30px;
      margin-bottom: 5px;
    }
    
    .stat-img{
      display: block;
      text-align: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #353535;
      box-sizing: border-box;
      
      
      .img{
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        margin: -1px;
      }
    }
    
    .stat-kda{
      margin-bottom: 0;
      color: #FFFFFF;
      font-family: "Roboto-500";
      font-size: 13px;
      line-height: 15px;
      
      span{
        display: block;
      }
    }
  }
  
  
  .content-tour{
    position: relative;
    z-index: 2;
    
    .list-match{
      width: calc(66.66% - 3px);
    }
  }
  
  .tour-list{
    
    
    .tour{
      background: #1B1B1E;
      border-radius: 5px;
      min-height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 25px;
      margin-bottom: 5px;
      cursor: pointer;
    }
    
    .active{
      .tour{
        border: 1px solid #1FA357;
        padding: 9px 24px;
      }
    }
    
    .tour-logo{
      width: 17%;
      margin-right: 1%;
      text-align: center;
      
      .img{
        max-height: 60px;
        max-width: 100%;
      }
    }
    
    .tour-name{
      width: 25%;
      font-size: 13px;
      line-height: 15px;
      font-family: "Roboto-500";
      color: #fff;
    }
    
    .tour-date{
      width: 39%;
      font-size: 13px;
      line-height: 15px;
      color: #BEBEBE;
      font-family: "Roboto";
      text-align: center;
    }
    
    .tour-num{
      width: 18%;
      font-size: 13px;
      line-height: 15px;
      color: #fff;
      font-family: "Roboto";
      text-align: right;
    }
  }
  
  &.p-match{
    .details-match{
      padding: 20px 5px 5px 5px;
    }
    
    .dm-header .time-live{
      width: 20%;
    }
    
    .dm-header .l-team,
    .dm-header .r-team{
      width: 40%;
    }
  }
  
  &.commands{
    .list-match .match{
      min-height: 80px;
      
      .l-team,
      .r-team{
        padding: 0px 5px 0px 5px;
      }
      
      .team-name{
        margin-bottom: 4px;
      }
      
      .team-logo{
        height: 52px;
        width: auto;
      }
    }
  }  
  
  &.players{
    .list-match .match{
      min-height: 80px;
      
      .l-team,
      .r-team{
        padding: 0px 5px 0px 5px;
      }
      
      .team-name{
        margin-bottom: 4px;
      }
      
      .team-logo{
        height: 52px;
        width: auto;
      }
    }
  }
  
  
  .result-title{
    background: #1B1B1E;
    border: 1px solid #414141;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 40px;
    line-height: 38px;
    margin-bottom: 10px;
    
    .txt{
      margin-bottom: 0;
      font-size: 14px;
      font-family: "Roboto";
      
      .red{
        font-size: 16px;
        font-family: "Roboto-500";
        color: #D53901;
        margin-right: 2px;
      }
    }
  }
  

  
  .match-Drop{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: #2d2d32;
    transition: 0.3s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
    width: 100px;
    margin-right: -100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.52);
    
    a{
      display: block;
      padding: 5px 10px;
      color: #fff;
      font-family: "Roboto";
      font-size: 14px;
      text-decoration: none;
      
      &:hover{
        background: #202024;
        color: #1fa357;
      }
    }
  }
}

  .btn-view-all{
    display: table;
    padding: 0 40px;
    border: 1px solid #1FA357;
    color: #1FA357;
    font-family: "Roboto-500";
    line-height: 36px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.52);
    background: #2D2D32;
    border-radius: 18px;
    font-family: "Roboto-500";
    font-size: 14px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px auto;
    
    &:hover{
      text-decoration: none;
      color: #1FA357;
    }
  }


//W41-- PAGINATION STYLE

.z-pagination{
  display: block;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 20px 0 40px 0;
  
  .p-item{
    margin: 0 3px;
  }
  
  .p-link{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid rgba(179, 182, 192, 0.5);
    color: #69696C;
    font-family: "Roboto";
    font-size: 13px;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    
    &.active{
      border-color: #1FA357;
      color: #1FA357;
      font-family: "Roboto-500";
    }
  }
  
  .p-next{
    display: block;
    width: 61px;
    height: 30px;
    background: url(../img/icons/pagination-next.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    margin-left: 10px;
    
  }
  
  .p-dots{
    color: #69696C;
    margin: 0 11px;
  }
}



//W41-- FOOTER STYLE

footer{
  background: #1B1B1E;
  min-height: 64px;
  padding: 14px 0;
  
  .logo{
    img{
      height: 36px;
    }
  }
  
  .footer-row{
    align-items: center;
  }
  
  p{
    margin-bottom: 0;
    line-height: 29px;
  }
  
  .nav{
      .nav-item{
        margin-right: 24px;

        &:last-child{
          margin-right: 0;
        }
      }

      .nav-link{
        padding: 0;
        color: #DBDBDB;
        font-size: 12px;
        font-family: "Roboto";
        line-height: 29px;

        &.active{
          color: #1FA357;
        }
      }
    }
  
  .f-info{
    display: flex;
    flex-direction: row;
  }
  
  .powered{
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
    margin-right: 95px;
  }
  
  .law{
    font-size: 11px;
    
    p{
      margin-left: 8px;
    }
  }
  
  .contacts{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .mails,
  .devs{
    font-size: 11px;
    color: #D7D7D7;
    padding-left: 0;
    margin-bottom: 0;
    li{
      list-style: none;
    }
  }
  
  .mails{
    margin-right: 95px;
    span{
      background-size: 100% 100%;
      width: 10px;
      height: 8px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      
      &.red{
        background-image: url(../img/icons/mail-r.svg);
      }
      &.green{
        background-image: url(../img/icons/mail-g.svg);
      }
    }
  }
  
  .red{
    color: #D53901;
  }
  
  .green{
    color: #1FA357;
  }
}








