//W41-- FONT FACE

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf");
}

@font-face {
  font-family: "AvenirNextCyr-300I";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.ttf");
}
@font-face {
  font-family: "AvenirNextCyr-I";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Italic.ttf");
}

@font-face {
  font-family: "AvenirNextCyr-500";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf");
}
@font-face {
  font-family: "AvenirNextCyr-500I";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.ttf");
}

@font-face {
  font-family: "AvenirNextCyr-700";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf");
}

@font-face {
  font-family: "Qanelas";
  src: url("../fonts/Qanelas/Qanelas-Regular.ttf");
}

@font-face {
  font-family: "Qanelas-500";
  src: url("../fonts/Qanelas/Qanelas-Medium.ttf");
}

@font-face {
  font-family: "Qanelas-600";
  src: url("../fonts/Qanelas/Qanelas-SemiBold.ttf");
}

@font-face {
  font-family: "Qanelas-700";
  src: url("../fonts/Qanelas/Qanelas-Bold.ttf");
}


@font-face {
  font-family: "MayaSamuelsPro-700";
  src: url("../fonts/MayaSamuelsPro/MayaSamuelsPro-Bold.ttf");
}


@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeue/BebasNeueBold.ttf");
}

//W41-- BOOTSTRAP RESET

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


//W41-- CUSTOM STYLE

html,
body {
  font-family: "AvenirNextCyr";
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
}



body {
  background: url(../img/body-bg.png) center center, linear-gradient(180deg, rgba(69, 70, 77, .97) 0, rgba(69, 70, 77, .92) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  max-width: 1340px;
}


.scrollTop {
  background-image: url(../img/scrollTop-arrow.svg);
  background-color: #1B834B;
  box-shadow: 2px 2px 8px #356B4E;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  bottom: 10px;
  left: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 670px
}
.modal {
  
  .modal-dialog{
    background: #222226;
    max-width: 411px;
    border-radius: 6px;
    padding: 40px 50px;
    box-shadow: -2px 2px 21px #1B834B;
  }
  
  .modal-content{
    background: none;
    border: none;
    border-radius: 0;
    position: static;
  }
  a.close-modal {
    background: url(../img/modal-close.svg) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 18px;
    top: 20px;
    right: 20px;
    position: absolute;
  }

  .title-modal {
    font-family: "AvenirNextCyr-700";
    font-size: 28px;
    line-height: 34px;
    color: #1B834B;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &.reg-modal {
    .modal-dialog{
      box-shadow: -2px 2px 21px #B12626;
    }

    .title-modal {
      color: #B12626;
    }

    .btn-form {
      background: linear-gradient(271.36deg, #B32D2D -5.01%, #931D1D 114.68%);
      box-shadow: 2px 2px 8px #912929;
    }
  }
}

.form-modal {
  text-align: center;

  .error {
    color: #B12626;
    font-family: "AvenirNextCyr";
    line-height: 22px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
  }



  .txtarea {
    display: block;
    width: 100%;
    height: 150px;
    line-height: 28px;
    outline: none;
    border: 1px solid #45464D;
    margin-bottom: 20px;
    background: #28292E;
    border-radius: 30px;
    color: #FDFDFD;
    padding: 10px 20px;
    font-family: "AvenirNextCyr";
    font-size: 20px;
    box-sizing: border-box;
    text-align: left;
    resize: none;
  }

  input {
    display: block;
    width: 100%;
    height: 53px;
    line-height: 53px;
    outline: none;
    border: 1px solid #45464D;
    margin-bottom: 20px;
    background: #28292E;
    border-radius: 30px;
    color: #FDFDFD;
    padding: 0 10px 0 30px;
    font-family: "AvenirNextCyr";
    font-size: 22px;
    box-sizing: border-box;
    text-align: left;

    &[type=file] {
      font-size: 14px;
    }

    &::-webkit-input-placeholder {
      color: #FDFDFD;
    }

    &::-moz-placeholder {
      color: #FDFDFD;
    }

    &:-ms-input-placeholder {
      color: #FDFDFD;
    }

    &:-moz-placeholder {
      color: #FDFDFD;
    }

    &.btn-form {
      height: 55px;
      border: none;
      padding-left: 0;
      background: linear-gradient(271.36deg, #2D945C -5.01%, #217246 114.68%);
      box-shadow: 2px 2px 8px #356B4E;
      font-family: "Qanelas-600";
      font-size: 22px;
      line-height: 55px;
      cursor: pointer;
      text-align: center;
    }
  }

  .link-underline {
    font-family: "AvenirNextCyr";
    font-size: 16px;
    line-height: 20px;
    color: #FDFDFD;
    text-decoration: underline;
    text-align: center;
  }

  .lang-label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;

    span {
      min-width: 90px;
      height: 35px;
      line-height: 35px;
      display: block;

      background: #313341;
      text-align: center;
      color: #fff;
      text-decoration: none;
      border-radius: 6px;
      margin-right: 5px;
      font-size: 16px;
      font-family: "Qanelas";
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input:checked ~ span {
      background: linear-gradient(180deg, #1b834b 0, #143f28 160%);
    }
  }
}

header {
  background: #222226;
  min-height: 90px;
  margin-bottom: 10px;

  .h-left {
    display: flex;
    flex-direction: row;
  }

  .logo {
    max-width: 206px;
    display: block;
    text-align: center;
    margin-top: 3px;
    margin-right: 68px;

    .logo-img {
      width: 100%;
    }

    .logo-text {
      font-family: "Qanelas";
      font-size: 14px;
      line-height: 17px;
      color: #9A9A9A;
    }
  }

  .h-points {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
  }

  .dicr-h {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #313341;
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.07);
    text-align: center;
    line-height: 38px;
    position: relative;
    margin-right: 22px;

    a {
      line-height: 38px;
      display: block;
      border-radius: 50%;
    }

    .dicr-icon {
      width: 28px;
      height: 28px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }

    .dicr-div {
      display: none;
      position: absolute;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      background: #313341;
      border-radius: 6px;
      z-index: 3;
      margin-top: 45px;
      margin-left: -25px;
      padding: 15px;
      font-size: 18px;
      line-height: 25px;
      color: #fff;

      p {
        margin-bottom: 0;
      }
    }

    &.open .dicr-div {
      display: block;
    }
  }

  .lang-container {
    width: 56px;
    height: 37px;
    border-radius: 38px;
    background: #313341;
    margin-right: 20px;

    .lang-current {
      overflow: hidden;
      z-index: 2;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 37px;

      .lang-arrow {
        display: block;
        background: url(../img/lang-arrow.svg) no-repeat;
        background-position: center center;
        width: 18px;
        height: 11px;
        transform: rotate(90deg);
        transition: .2s;
      }

      .lang-icon {
        margin-left: 6px;
      }
    }

    .lang-icon {
      width: 25px;
      height: 25px;
      display: block;
    }

    .lang-dropdown {
      display: none;
      position: absolute;
      background: #313341;
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding: 1px 0px 1px 9px;
      margin-top: -37px;
      margin-left: 40px;
      z-index: 1;


      .lang-dropdown-item {
        margin: 5px 6px;
        float: left;
      }
    }

    &:hover {
      .lang-dropdown {
        display: block;
      }

      .lang-current .lang-arrow {
        transform: rotate(0);
        transition: .2s;
      }
    }
  }

  .contacts {
    background: #313341;
    border-radius: 50%;
    overflow: hidden;
    height: 37px;
    width: 37px;

    .icon {
      display: block;
      width: 37px;
      height: 37px;
      background-image: url(../img/setting-icon-active.svg);
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-position: center center;

      .img {
        width: 37px;
        height: 37px;
        display: none;
      }
    }


    .contacts-info {
      display: none;
      width: 380px;
      position: absolute;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
      background: #313341;
      border-radius: 6px;
      z-index: 3;
      margin-top: 14px;
      margin-left: -25px;
      padding: 26px 30px 27px 30px;
      font-size: 18px;
      line-height: 25px;
      color: #fff;
      font-family: "AvenirNextCyr";




      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -14px;
        left: 33px;
        background: url("../img/setting-arrow.png");
        background-position: left bottom -1px;
        background-repeat: no-repeat;
        width: 24px;
        height: 15px;
      }

      li {
        line-height: 29px;
      }

      span {
        font-family: "AvenirNextCyr-500";
        font-size: 20px;

        &.blue {
          color: #4B5887;
        }

        &.orange {
          color: #E89416;
        }

        &.green {
          color: #1B834B;
        }
      }
    }

    &.open .contacts-info {
      display: block;
    }
  }

  .header-search {
    margin-top: 26px;
    background: #313341;
    border-radius: 37px;
    height: 38px;
    padding: 0 12px 0 22px;
    max-width: 172px;

    .search-btn {
      background-image: url(../img/search-header-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto auto;
      border: none;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 16px;
      background-color: transparent;
      cursor: pointer;
      margin-top: 11px;
      margin-right: 3px;
      outline: 0;
    }

    .search-input {
      width: calc(100% - 22px);
      border: none;
      padding: 0;
      line-height: 16px;
      margin-top: 11px;
      color: #c8c8c8;
      font-size: 14px;
      font-family: "AvenirNextCyr";
      display: inline-block;
      vertical-align: top;
      background-color: transparent;
      outline: 0;

      &:focus ~ .search-finder {
        display: block;
      }
    }

    .search-finder {
      display: none;
      position: absolute;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      background: #313341;
      border-radius: 6px;
      z-index: 3;
      margin-top: 14px;
      margin-left: -25px;
      padding: 15px 15px 5px 15px;
      width: 300px;
      max-height: 200px;
      overflow-x: scroll;

      .sf-item {
        margin-bottom: 10px;

        .sf-type {
          border-radius: 3px;
          color: #fff;
          line-height: 22px;
          padding: 0 7px;
          font-family: "Qanelas";
          font-size: 13px;
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          margin-right: 3px;
        }

        .sf-name {
          font-size: 16px;
          line-height: 22px;
          color: #fff;
          font-family: "AvenirNextCyr";
          text-decoration: none;
        }

        &.green .sf-type {
          background: linear-gradient(180deg, #1b834b 0, #143f28 160%);
        }

        &.blue .sf-type {
          background: linear-gradient(180deg, #4b5887 0, #233061 100%);
        }

        &.red .sf-type {
          background: linear-gradient(180deg, #b12626 0, #861111 100%);
        }
      }
    }
  }


  .header-btns {
    margin-top: 23px;
    display: flex;
    justify-content: flex-end;

    .menu-li {
      background: #313341;
      margin-left: 18px;
      box-shadow: -3px 2px 0 rgba(0, 0, 0, 0.07);
      border-radius: 30px;
      overflow: hidden;

      a {
        font-family: "AvenirNextCyr";
        font-size: 16px;
        line-height: 44px;
        padding-bottom: 2px;
        display: block;
        color: #fff;
        text-decoration: none;
        padding-right: 19px;

        .icon-bg {
          display: block;
          float: left;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          text-align: center;
          line-height: 44px;
          margin-top: 2px;
          margin-right: 10px;
          position: relative;

          .icon {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-size: 25px 25px;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }

      &.login {
        .icon-bg {
          background-image: url(../img/circle-green.svg);
          background-size: 60px 60px;
          background-position: left -9px top -9px;
        }

        .icon {
          background-image: url(../img/login-icon.svg);
        }

        &:hover {
          background: linear-gradient(180deg, #1b834b 0, #143f28 160%);
        }
      }

      &.reg {
        .icon-bg {
          background-image: url(../img/circle-red.svg);
          background-size: 60px 60px;
          background-position: left -9px top -9px;
        }

        .icon {
          background-image: url(../img/reg-icon.svg);
        }

        &:hover {
          background: linear-gradient(180deg, #b12626 0, #861111 100%);
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mobile-nav-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    margin-top: 3px;
    top: 50%;
    transform: translate(0, -50%);

    .bar1,
    .bar2,
    .bar3 {
      display: block;
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 6px;
    }

    &.active .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    &.active .bar2 {
      opacity: 0;
    }

    &.active .bar3 {
      -webkit-transform: rotate(45deg) translate(-9px, -6px);
      transform: rotate(45deg) translate(-9px, -6px);
    }
  }

  .mobile-nav {
    position: absolute;
    z-index: 5;
    background: #222226;
    padding: 15px;
    border-radius: 10px;
    right: 10px;
    top: 100px;
    display: none;
    width: 345px;
    
    &.open{
      display: block;
    }
    
    .header-btns{
      margin-top: 0;
      justify-content: flex-start;
      margin-bottom: 15px;
    }
    
    .h-points{
      margin-top: 0;
      margin-bottom: 15px;
    }
    
    .nav-item {
      margin: 0 -15px;
      &.active a {
        background: #28292E;
        position: relative;

        &:after {
          content: "";
          background: #E99531;
          border-radius: 20px;
          position: absolute;
          height: 100%;
          display: block;
          width: 3px;
          left: 0;
        }
      }

      a {
        padding: 0 15px;
        line-height: 54px;
        font-family: "MayaSamuelsPro-700";
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        display: flex;
        flex-direction: row;

        .icon {
          display: block;
          text-align: center;
          width: 40px;
          margin-right: 17px;
          position: relative;

          img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
        
        &:hover {
          background: #28292E;
          position: relative;

          &:after {
            content: "";
            background: #E99531;
            border-radius: 20px;
            position: absolute;
            height: 100%;
            display: block;
            width: 3px;
            left: 0;
          }
        }
      }
    }
  }
  }





main {
  padding-bottom: 20px;
}

.col-sidebar {
  padding-right: 0px;
}

.col-content-page {
  padding-left: 10px;
  
  &.main{
    
    .content-page{
      display: flex;
      flex-direction: row;
    }

  }
}

.sidebar {
  min-height: 822px;
  background: #222226;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  overflow: hidden;
  
  .nav-ul {
    li {

      &.active a {
        background: #28292E;
        position: relative;

        &:after {
          content: "";
          background: #E99531;
          border-radius: 20px;
          position: absolute;
          height: 100%;
          display: block;
          width: 3px;
          left: 0;
        }
      }

      a {
        padding: 0 20px;
        line-height: 54px;
        font-family: "MayaSamuelsPro-700";
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        display: flex;
        flex-direction: row;

        .icon {
          display: block;
          text-align: center;
          width: 40px;
          margin-right: 17px;
          position: relative;

          img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }

        &:hover {
          background: #28292E;
          position: relative;

          &:after {
            content: "";
            background: #E99531;
            border-radius: 20px;
            position: absolute;
            height: 100%;
            display: block;
            width: 3px;
            left: 0;
          }
        }
      }
    }
  }
}

.content-page {
  
  &.bg{
    background: #28292E;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
    padding: 15px 20px;
  }

  .post {
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    overflow: hidden;
    background: #28292E;

    .img {
      display: block;
      transition: 0.2s;
    }

    .post-info {
      color: #fff;
      font-family: "Qanelas";
      font-size: 14px;
      line-height: 25px;
      margin: 0 15px;
    }

    .post-pin {
      border-radius: 3px;
      color: #fff;
      line-height: 25px;
      padding: 0 9px;
      font-family: "Qanelas";
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;

      &.blue {
        background: linear-gradient(180deg, #4B5887 0%, #233061 100%);
      }

      &.red {
        background: linear-gradient(180deg, #B12626 0%, #861111 100%);
      }

      &.green {
        background: linear-gradient(180deg, #1B834B 0%, #143F28 160%);
      }
    }


    &:hover .img {
      transform: scale(1.04);
      transition: 0.2s;
    }
  }

  .big-post {
    width: 660px;
    height: 380px;
    overflow: hidden;
    position: relative;
    padding: 0;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);

    .post-info {
      position: absolute;
      top: 17px;
      left: 0px;
      font-size: 16px;

      .post-pin {
        margin-right: 11px;
      }
    }

    .post-text {
      position: absolute;
      bottom: 21px;
      left: 18px;
      right: 18px;
      color: #e89416;
      font-size: 24px;
      line-height: 31px;
      font-family: "AvenirNextCyr-500";
      text-decoration: none;
      letter-spacing: 0.005em;
      margin-bottom: 0;
    }

    .img {
      width: 100%;
      min-height: 100%;
    }
  }

  .w-post {
    width: 660px;
    height: 190px;
    position: relative;
    display: flex;
    flex-direction: row;

    &.red {
      .post-pin {
        background: linear-gradient(180deg, #B12626 0%, #861111 100%);
      }

      &:hover {
        border-right: 4px solid #9C1C1C;
        box-sizing: border-box;
      }
    }

    &.green {
      .post-pin {
        background: linear-gradient(180deg, #1B834B 0%, #143F28 160%);
      }

      &:hover {
        border-right: 4px solid #196e40;
        box-sizing: border-box;
      }
    }


    &.blue {
      .post-pin {
        background: linear-gradient(180deg, #4B5887 0%, #233061 100%);
      }

      &:hover {
        border-right: 4px solid #4b5887;
        box-sizing: border-box;
      }
    }



    .w-img {
      display: block;
      margin-right: 0px;
      width: 330px;
      overflow: hidden;
      border-radius: 6px;


      .img {
        width: 100%;
        height: 190px;
      }
    }

    .w-post-right {
      padding-left: 15px;
      width: 314px;
      height: 175px;
      position: relative;
      margin: 15px 12px 0px 0px;
      display: flex;
      flex-direction: column;
 
    }

    .post-date {
      float: right;
    }

    .post-info {
      margin: 0 0 9px 0;

    }

    .post-text {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.015em;
      font-family: "AvenirNextCyr";
      color: #FDFDFD;
      text-decoration: none;
      margin-bottom: 0;
      display: block;
      max-height: 95px;
      overflow: hidden;
    }

    .bottom-info {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: auto;

      .w-name {
        font-family: "Qanelas";
        font-size: 16px;
        line-height: 28px;
      }

      .w-count {
        font-family: "Qanelas";
        font-size: 13px;
        position: relative;

        &.time {
          background: #45464D;
          height: 25px;
          line-height: 25px;
          padding: 0 10px;
          border-radius: 20px;
          margin-top: 3px;
          text-transform: uppercase;
          
          span:before{
            content: "";
            display: inline-block;;
            background: url(../img/w-post-time.svg);
            width: 13px;
            height: 13px;
            vertical-align: top;
            margin-top: 6px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .slider-big-wrap {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
    border-radius: 6px;

    .post {
      margin-bottom: 0;
      box-shadow: none;
    }


    .slick-slide {
      outline: none;

      a {
        outline: none;
      }
    }

    .slick-arrow {
      position: absolute;
      top: 28px;
      right: 20px;
      cursor: pointer;
      border: none;
      font-size: 0;
      width: 9px;
      height: 16px;
      display: block;
      background: url("../img/arrow-slider.svg");
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1;
      padding: 5px;
      margin: 0;
      outline: none;

      &.slick-prev {
        transform: rotate(180deg);
        right: 132px;
      }
    }

    .slick-dots {
      position: absolute;
      right: 35px;
      top: 23px;
      width: 90px;
      text-align: center;

      li {
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        width: 30px;

        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          font-size: 0;
          padding: 0;
          border: 1px solid #fff;
          background: #E89416;
          outline: none;
          display: block;
          margin: 0 auto;
          cursor: pointer;
        }

        &.slick-active {
          position: relative;
          margin-top: 0;

          button {
            width: 24px;
            height: 24px;
            font-size: 14px;
            color: #fff;
            font-family: "Qanelas-500";
            text-align: center;
            line-height: 24px;
            position: relative;
            z-index: 2;
            border: none;
            background: transparent;
            margin: -1px 2px 0 2px;
          }

          &:after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            border: 1px solid #fff;
            background: #E89416;
            border-radius: 5px;
            transform: rotate(45deg);
            z-index: 1;
            left: 2px;
            top: -1px;
          }
        }
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  .slider-big-wrap {
    width: 660px;
  }
}

.main-center{
  width: 660px;
}
.main-right{
  max-height: 820px;
  width: 310px;
  margin-left: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background: #28292E;
  overflow: hidden;
  margin-bottom: 10px;
  
  .nav-tabs {
    margin-bottom: 14px;
    border-bottom: none;

    .nav-item {
      display: block;
      width: 33.33%;
      background: #28292E;
      height: 40px;
      position: relative;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
        line-height: 40px;
        text-align: center;


      .img {
        display: block;
        width: 53px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background: #45464D;
        bottom: -4px;
      }

      &.yt.active {
        background: #222226;

        &:after {
          background: #B12626;
          border-radius: 3px;
        }
      }

      &.tw.active {
        background: #222226;

        &:after {
          background: #4B5887;
          border-radius: 3px;
        }
      }

      &.rew {
          font-family: "BebasNeueBold";
          letter-spacing: 0.05em;
          font-size: 18px;
          line-height: 46px;

        .icn {
          display: inline-block;
          width: 17px;
          vertical-align: middle;
          margin-right: 2px;
        }

        &.active {
          background: #222226;

          &:after {
            background: #e89416;
            border-radius: 3px;
          }
        }
      }
    }
  }
  
  .tab-content{
    height: calc(100% - 55px);
    overflow: scroll;
    .item{
      border-bottom: 1px solid #45464D;
      margin-bottom: 10px;
      .img-link{
        width: 100%;
        height: 179px;
        display: block;
        margin-bottom: 15px;
        
        img{
          width: 100%;
          height: 100%;
        }
      }
      
      .info-item{
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
        justify-content: space-between;
        font-family: "Qanelas";
        align-items: flex-end;
        
        .nick{
          font-size: 18px;
        }
        
        .date{
          font-size: 14px;
        }
      }
    }
    
    .info{
      text-align: center;
      font-size: 18px;
    }
  }
}



.fract-list{

	.f-item{
      width: 100%;
      margin: 20px 0;

		.img{
            max-width: 198px;
			display: block;
            float: left;
			margin-right: 30px;
		}

		p{
			font-family: "AvenirNextCyr";
			font-size: 18px;
			line-height: 28px;
			color: #fff;

			&.title{
				font-family: "AvenirNextCyr-700";
				font-size: 36px;
				line-height: 44px;
                margin-bottom: 10px;
				color: #E89416;
				text-transform: uppercase;
			}
		}

		&:nth-child(odd){
			margin-right: 2%;
		}


	&:after{
		content: "";
		display: block;
		clear: both;
	}
  }
}



.talents {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: row;

  .heroes-list {
    width: 32%;
    border-right: 1px solid #313341;
    box-sizing: border-box;

    .hero {
      margin-bottom: 20px;
      font-family: "AvenirNextCyr-500I";
      font-size: 18px;
      color: #fff;
      padding-right: 10px;

      .h-title {
        font-family: "AvenirNextCyr-700";
        font-size: 18px;
        text-transform: uppercase;
        color: #C62929;
        line-height: 26px;
        margin-bottom: 0;
      }
      
      .h-spec{
        margin-bottom: 0; 
      }
      
      .hero-img {
        float: left;
        display: block;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-right: 20px;
        overflow: hidden;

        .img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      &.active {
        .hero-img {
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            border: 2px solid #E89416;
            box-sizing: border-box;
            top: 0;
            left: 0;
            border-radius: 50%;
          }
        }
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  
  .talent-cont{
    width: 36%;
    margin-right: 32%;
  }

  .talent-list {
    width: 100%;
    
    .ul {
      display: table;
      margin: 0 auto;
    }

    &.c3 {
      .ul {
        width: 75%;
      }

      .talent {
        width: 33.33%;
      }
    }

    &.c2 {

      .ul {
        width: 50%;
      }

      .talent {
        width: 50%;
      }
    }

    .talent {
      float: left;
      width: 25%;
      margin-bottom: 40px;

      .talent-info {
        display: none;
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 0px;
        width: 32%;
        border-left: 1px solid #313341;
        box-sizing: border-box;
        padding: 5px 0px 5px 20px;
        font-size: 18px;
        line-height: 26px;
        font-family: "AvenirNextCyr-300I";
        color: #fff;

        .t-name {
          font-family: "AvenirNextCyr-700";
          font-size: 18px;
          line-height: 22px;
          color: #E89416;
          margin-bottom: 10px;
        }
      }

      .tal-img {
        display: block;
        margin: 0 auto;
        width: 56px;
        height: 56px;
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
      }

      &.active {
        .tal-img {
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.65);
            border: 2px solid #E89416;
            box-sizing: border-box;
            top: 0;
            left: 0;
            border-radius: 50%;
          }
        }

        .talent-info {
          display: block;
        }
      }

      &.disabled {
        .tal-img {
          cursor: default;
          background: black;

          img {
            opacity: 0.6;
          }
        }
      }

      &.lock {
        .tal-img {
          cursor: default;
          background: url(../img/talents/talent-lock.png);
          background-size: 100% 100%;

          img {
            display: none;
          }
        }
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

}


.person-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px 0;

  .person {
    display: flex;
    margin-bottom: 48px;
    flex-direction: row;

    .person-img {
      position: relative;
      width: 190px;
      height: 190px;
      margin-left: 55px;

      .img {
        position: absolute;
        z-index: 3;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
      }

      &:before {
        content: "";
        width: 190px;
        height: 190px;
        position: absolute;
        display: block;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(186, 58, 132, .5) 50%, #9e1111 100%);
        z-index: 1;
      }

      &:after {
        content: "";
        display: block;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background: #222226;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 4px solid #28292e;
        z-index: 2;
      }
    }
    
    .person-info{
      padding-left: 30px;
      width: 175px;
      .person-cat {
        font-size: 18px;
        line-height: 18px;
        font-family: "Qanelas-600";
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #fff;
      }

      .item-prop {
        transition: all .3s;
        background: linear-gradient(270deg, #ba3a84 0, #9e1111 90%);
        width: 100%;
        height: 36px;
        line-height: 36px;
        font-family: "Qanelas";
        font-size: 18px;
        text-transform: lowercase;
        margin-bottom: 20px;
        position: relative;
        border-radius: 4px;
        padding-left: 12px;
        
        &:before {
          content: "";
          position: absolute;
          width: 27px;
          height: 28px;
          background: #9e1111;
          border-radius: 4px;
          top: 50%;
          transform: translate(0, -50%) rotate(45deg);
          left: -10px;
        }

        &:hover {
          background: linear-gradient(270deg, #ba3a84 0, #ba3a84 90%);

          &:before {
            background: #ba3a84;
          }
        } 
        a{
          font-family: "Qanelas";
          color: #fff;
          text-decoration: none;
          display: block;
          position: relative;
        }
      }
      
      .btn {
        display: inline-flex;
        align-items: center;
        color: #fff;
        font-family: "AvenirNextCyr";
        font-size: 18px;
        text-decoration: none;
        background: #313341;
        box-shadow: 2px -1px 4px 1px rgba(0, 0, 0, 0.17);
        line-height: 34px;
        border-radius: 32px;
        padding: 0 13px;
        transition: .3s;
        margin-left: 6px;
        
        .img{
          margin-right: 9px;
        }
      }
    }

    &.pink {
      .person-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(186, 58, 132, .5) 50%, #a61d32 100%);
      }

      .person-cat {
        color: #ba3a84;
      }

      .person-info .item-prop {
        background: linear-gradient(270deg, #ba3a84 0, #a61d32 90%);
        
        &:before {
          background: #a61d32;
        }

        &:hover {
          background: linear-gradient(270deg, #ba3a84 0, #ba3a84 90%);

          &:before {
            background: #ba3a84;
          }
        }
      }
      
      .btn:hover{
        background: #ba3a84;
      }
    }

    &.orange {
      .person-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(208, 137, 31, .5) 50%, #963f26 100%);
      }

      .person-cat {
        color: #d0891f;
      }

      .person-info .item-prop {
        background: linear-gradient(270deg, #d0891f 0, #963f26 90%);

        &:before {
          background: #963f26;
        }

        &:hover {
          background: linear-gradient(270deg, #d0891f 0, #d0891f 90%);

          &:before {
            background: #d0891f;
          }
        }
      }
      
      .btn:hover{
        background: #d0891f;
      }
    }

    &.red {
      .person-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(176, 61, 61, .5) 50%, #8b1717 100%);
      }

      .person-cat {
        color: #b03d3d;
      }

      .person-info .item-prop {
        background: linear-gradient(270deg, #b03d3d 0, #8b1717 90%);

        &:before {
          background: #8b1717;
          ;
        }

        &:hover {
          background: linear-gradient(270deg, #b03d3d 0, #b03d3d 90%);

          &:before {
            background: #b03d3d;
          }
        }
      }
      
      .btn:hover{
        background: #b03d3d;
      }
    }

    &.blue {
      .person-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(82, 114, 228, .5) 50%, #284386 100%);
      }

      .person-cat {
        color: #5272e4;
      }

      .person-info .item-prop {
        background: linear-gradient(270deg, #5272e4 0, #284386 90%);

        &:before {
          background: #284386;
          ;
        }

        &:hover {
          background: linear-gradient(270deg, #5272e4 0, #5272e4 90%);

          &:before {
            background: #5272e4;
          }
        }
      }
      
      .btn:hover{
        background: #5272e4;
      }
    }

    &.violet {
      .person-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(151, 30, 208, .5) 50%, #591674 100%);
      }

      .person-cat {
        color: #971ed0;
      }

      .person-info .item-prop {
        background: linear-gradient(270deg, #971ed0 0, #591674 90%);

        &:before {
          background: #591674;
          ;
        }

        &:hover {
          background: linear-gradient(270deg, #971ed0 0, #971ed0 90%);

          &:before {
            background: #971ed0;
          }
        }
      }
      
      .btn:hover{
        background: #971ed0;
      }
    }

    &.aquamarine {
      .person-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(30, 207, 165, .5) 50%, #155547 100%);
      }

      .person-cat {
        color: #1ecfa5;
      }

      .person-info .item-prop {
        background: linear-gradient(270deg, #1ecfa5 0, #155547 90%);

        &:before {
          background: #155547;
        }

        &:hover {
          background: linear-gradient(270deg, #1ecfa5 0, #1ecfa5 90%);

          &:before {
            background: #1ecfa5;
          }
        }
      }
      
      .btn:hover{
        background: #1ecfa5;
      }
    }
  }
}


.person-inside{
  
  .nav-pers {
    background: #28292E;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
    .item {
      flex-grow: 1;
      text-align: center;
      position: relative;

      
      &:after {
        content: "";
        display: block;
        width: 1px;
        height: 23px;
        background: #45464D;
        border-radius: 20px;
        position: absolute;
        top: 8px;
        right: -1px;
      }
      
      &:last-child:after{
        display: none;
      }
      
      a {
        display: block;
        font-family: "Qanelas-600";
        font-size: 18px;
        line-height: 23px;
        padding: 8px 0;
        color: #fff;
        text-transform: uppercase;
        border-radius: 6px;
      }
      
      &.pink {
        a {
          color: #B8387C;
        }

        &.active,
        &:hover {
          &:after {
            display: none;
          }

          a {
            background: linear-gradient(270deg, #ba3a84 0, #a61d32 90%);
            color: #fff;
          }
        }
      }

      &.orange {
        a {
          color: #E89416;
        }

        &.active,
        &:hover {
          &:after {
            display: none;
          }

          a {
            background: linear-gradient(270deg, #d0891f 0, #963f26 90%);
            color: #fff;
          }
        }
      }

      &.blue {
        a {
          color: #5373E5;
        }

        &.active,
        &:hover {
          &:after {
            display: none;
          }

          a {
            background: linear-gradient(270deg, #5272e4 0, #284386 90%);
            color: #fff;
          }
        }
      }
      
      &.violet {
        a {
          color: #9420CB;
        }
        
        &.active,
        &:hover {
          &:after{
            display: none;
          }
          a{
            background: linear-gradient(
270deg
,#971ed0 0,#591674 90%);
            color: #fff;
          }  
        }
      }
      
      &.aquamarine {
        a {
          color: #20C8A1;
        }
        
        &.active,
        &:hover {
          &:after{
            display: none;
          }
          a{
            background: linear-gradient(
270deg
,#1ecfa5 0,#155547 90%);
            color: #fff;
          }  
        }
      }
      
      &.red {
        a {
          color: #B12626;
        }
        
        &.active,
        &:hover {
          &:after{
            display: none;
          }
          a{
                background: linear-gradient(
270deg
,#b03d3d 0,#8b1717 90%);
            color: #fff;
          }  
        }
      }
    }
  }
  
  
  .pers-content {
    background: #28292E;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 33px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "AvenirNextCyr";
    font-size: 18px;
    line-height: 26px;
    
    .left{
      flex: 0 0 43%;
    }
    .right{
      flex: 0 0 calc(57% - 10px);
      padding-top: 15px;
      position: relative;
    }
    
    .pers-img{
      margin: 0 auto 75px auto;
      width: 290px;
      height: 290px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      
      .img{
        position: absolute;
        z-index: 3;
        max-width: 390px;
        max-height: 390px;
      }
      
      &:before {
        content: "";
        width: 290px;
        height: 290px;
        position: absolute;
        display: block;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: linear-gradient(
    270deg,rgba(186,58,132,0) 0,rgba(186,58,132,.5) 50%,#9e1111 100%);
        z-index: 1;
    }
      
      &:after {
        content: "";
        display: block;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        background: #222226;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 12px solid #28292e;
        z-index: 2;
      }
    }
    
    
    .pers-accordion{
      .accord{
        margin-bottom: 22px;
      }
      
      .accord-header{
        padding: 7px 0;
      }
      
      .accord-link{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        font-family: "Qanelas-700";
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.09em;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        margin-left: 30px;
        padding: 0 15px 0 35px;
        
        span{
          position: relative;
          z-index: 2;
        }
        
        
        .img{
          position: absolute;
          left: -30px;
          top: 50%;
          transform: translate(0,-50%);
        }
        
        &[aria-expanded="true"]{
          background-color: #BA3B84;
          border-radius: 4px;
          
          &:before {
            content: "";
            position: absolute;
            width: 28px;
            height: 28px;
            background: #BA3B84;
            border-radius: 5px;
            top: 50%;
            transform: translate(0,-50%) rotate(45deg);
            right: -10px;
            z-index: 1;
          }
        }
      }
      
      .accord-content{
        padding-top: 10px;
        font-family: "AvenirNextCyr";
        font-size: 16px;
        color: #fff;
        line-height: 23px;
      }
      
      

    }
    
    .pers-name{
      color: #B8387C;
      font-family: "Qanelas-600";
      font-size: 24px;
      line-height: 38px;
      margin-bottom: 20px;
      display: inline-flex;
      vertical-align: top;
      margin-right: 20px;
    }
    
    .qwerty-list{
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .item{
        margin-right: 25px;
        
        &:last-child{
          margin-right: 0;
        }
      }
      
      .item-link{
        display: block;
        background: linear-gradient(180deg, #78797D 0%, #28292E 42%);
        border-radius: 10px;
        margin: 0 4px;
        padding: 1px;
        position: relative;
        color: #fff;
        
        &.active{
          background: linear-gradient(180deg, #4B5887 0%, #28292E 42%);
          padding: 5px;
          border-radius: 15px;
          margin: 0;
          
          .letter{
            right: -7px;
            bottom: -3px;
            color: #4B5887;
          }
        }
      }
      
      .img-div{
        width: 53px;
        height: 53px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        
        .img{
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      
      .letter{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #28292E;
        line-height: 25px;
        text-align: center;
        font-family: "Qanelas-700";
        font-size: 18px;
        text-transform: uppercase;
        position: absolute;
        right: -11px;
        bottom: -7px;
      }
    }
    
    .tab-content{
      position: relative;
    }
    
    .btn-details{
      display: inline-flex;
      background: #4B5887;
      border-radius: 39px;
      line-height: 38px;
      position: relative;
      color: #fff;
      font-family: "Qanelas-700";
      font-size: 18px;
      letter-spacing: 0.09em;
      padding: 0 35px 0 15px;
      margin-bottom: 20px;
      
      
      &:before{
        content: "";
        display: block;
        position: absolute;
        background: url(../img/lang-arrow.svg);
        height: 10px;
        width: 6px;
        background-position: center center;
        right: 17px;
        top: 50%;
        transform: translate(0, -50%) rotate(0deg);
        transition: 0.2s;
      }
      
      &[aria-expanded="false"]{
        &:before{
          transform: translate(0, -50%) rotate(90deg);
          transition: 0.2s;
        }
      }
      
      &.hero{
        vertical-align: top;
      }
    }
    
    .details {
      position: absolute;
      right: 0;
      width: 121%;
      background: #222226;
      border-radius: 10px;
      padding: 10px 30px 10px 15px;
      color: #fff;
      font-size: 18px;
      line-height: 26px;
      font-family: "AvenirNextCyr";
      z-index: 3;

      .close-hero-info,
      .close-collapse {
        position: absolute;
        right: 8px;
        top: 10px;
        display: block;
        width: 20px;
        height: 20px;

        &:before,
        &:after {
          position: absolute;
          left: 9px;
          content: ' ';
          height: 19px;
          width: 1px;
          background-color: #fff;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    
    .num-list-italic{
      font-family: "AvenirNextCyr-I";
      font-size: 18px;
      line-height: 26px;
      padding-left: 20px;
      
      li{
        margin-bottom: 10px;
        list-style: decimal;
      }
    }
    
    &.pink{
      .pers-name{
        color: #B8387C;
      }
      
      .pers-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(186, 58, 132, 0.5) 50%, #9e1111 100%);
      }
      
      .pers-accordion .accord-link[aria-expanded="true"]{
        background: #B8387C;
        
        &:before{
          background: #B8387C;
        }
      }
    }
    
    &.orange{
      .pers-name{
        color: #E89416;
      }
      
      .pers-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(208, 137, 31, 0.5) 50%, #963f26 100%);
      }
      
      .pers-accordion .accord-link[aria-expanded="true"]{
        background: #E89416;
        
        &:before{
          background: #E89416;
        }
      }
    }
    
    &.blue{
      .pers-name{
        color: #5373E5;
      }
      
      .pers-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(82, 114, 228, 0.5) 50%, #284386 100%);
      }
      
      .pers-accordion .accord-link[aria-expanded="true"]{
        background: #5373E5;
        
        &:before{
          background: #5373E5;
        }
      }
    }
    
    &.violet{
      .pers-name{
        color: #9420CB;
      }
      
      .pers-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(151, 30, 208, 0.5) 50%, #591674 100%);
      }
      
      
      .pers-accordion .accord-link[aria-expanded="true"]{
        background: #9420CB;
        
        &:before{
          background: #9420CB;
        }
      }
    }
    
    &.aquamarine{
      .pers-name{
        color: #20C8A1;
      }
      
      .pers-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(30, 207, 165, 0.5) 50%, #155547 100%);
      }
      
      .pers-accordion .accord-link[aria-expanded="true"]{
        background: #20C8A1;
        
        &:before{
          background: #20C8A1;
        }
      }
    }
    
    &.red{
      .pers-name{
        color: #B12626;
      }
      
      .pers-img:before {
        background: linear-gradient(270deg, rgba(186, 58, 132, 0) 0, rgba(176, 61, 61, 0.5) 50%, #8b1717 100%);
      }
      
      .pers-accordion .accord-link[aria-expanded="true"]{
        background: #B12626;
        
        &:before{
          background: #B12626;
        }
      }
    }
  }


}
