@font-face {
  font-family: "EBGaramondRegular";
  src: url("../fonts/EBGaramondRegular/EBGaramondRegular.eot");
  src: url("../fonts/EBGaramondRegular/EBGaramondRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/EBGaramondRegular/EBGaramondRegular.woff") format("woff"),
		url("../fonts/EBGaramondRegular/EBGaramondRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Код для подключения шрифта в /css/stylename.css */

	@font-face {
			font-family: "LoraRegular";
			src: url("../fonts/LoraRegular/LoraRegular.eot");
			src: url("../fonts/LoraRegular/LoraRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LoraRegular/LoraRegular.woff") format("woff"),
			url("../fonts/LoraRegular/LoraRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LoraBold";
			src: url("../fonts/LoraBold/LoraBold.eot");
			src: url("../fonts/LoraBold/LoraBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LoraBold/LoraBold.woff") format("woff"),
			url("../fonts/LoraBold/LoraBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LoraItalic";
			src: url("../fonts/LoraItalic/LoraItalic.eot");
			src: url("../fonts/LoraItalic/LoraItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LoraItalic/LoraItalic.woff") format("woff"),
			url("../fonts/LoraItalic/LoraItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LoraBoldItalic";
			src: url("../fonts/LoraBoldItalic/LoraBoldItalic.eot");
			src: url("../fonts/LoraBoldItalic/LoraBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/LoraBoldItalic/LoraBoldItalic.woff") format("woff"),
			url("../fonts/LoraBoldItalic/LoraBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


/* Код для подключения шрифта в /css/stylename.css */

	@font-face {
			font-family: "RobotoRegular";
			src: url("../fonts/RobotoRegular/RobotoRegular.eot");
			src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoLight";
			src: url("../fonts/RobotoLight/RobotoLight.eot");
			src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
			url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoMedium";
			src: url("../fonts/RobotoMedium/RobotoMedium.eot");
			src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
			url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoBold";
			src: url("../fonts/RobotoBold/RobotoBold.eot");
			src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
			url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}



.modalMain{
  .modal-dialog{
    width: 770px;
    margin-top: 10%;
  }
  
  .modal-body{
    padding: 50px;
  }
  
  .modal-content{
    border-radius: 0;
    border: none;
  }
  
  .title{
    font-family: "LoraBold";
    font-size: 24px;
    color: #3c3837;
    margin-bottom: 30px;
  }
  
  .select{
    border: 1px solid #e2e2e2;
    height: 50px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    
    &:after{
      content: "";
      display: block;
      position: absolute;
      background: url(../img/select-arr.png);
      width: 9px;
      height: 6px;
      top: 50%;
      margin-top: -3px;
      right: 26px;
    }
    
    select{
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      width: 100%;
      position: relative;
      z-index: 2;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-left: 30px;
      line-height: 48px;
      height: 48px;
      color: #3c3837;
      font-size: 14px;
      font-family: "RobotoRegular";
    }
  }
  
  .input1{
    float: left;
  }
  
  .input2{
    float: right;
  }
  
  .input{
    width: 49%;
    margin-bottom: 20px;
    
    input{
      width: 100%;
      height: 48px;
      line-height: 48px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-left: 30px;
      background: none;
      font-size: 14px;
      border: none;
      border: 1px solid #e2e2e2;
    }
  }
  
  .btnForm{
    text-transform: uppercase;
    font-family: "RobotoBold";
    font-size: 16px;
    margin-top: 14px;
    color: white;
    background-color: rgb(248, 87, 141);
    display: block;
    width: 285px;
    height: 55px;
    border: none;
    bottom: -27px;
    outline: none;
    left: 50%;
    margin-left: -143px;
    position: absolute;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 12px 54px 0px rgba(248, 87, 141, 1);
  }
}



.thanks{
  text-align: center;
  padding-top: 25vh;
  
  h1{
    color: green;
    font-size: 5em;
    font-family: "LoraBold";
  }
  
  h2{
    font-size: 3em;
    margin-bottom: 50px;
  }
  
  a{
    width: 250px;
    height: 50px;
    border: 1px solid green;
    color: green;
    display: block;
    margin: 0 auto;
    line-height: 48px;
    border-radius: 5px;
    font-size: 18px;
  }
  
}






a:hover,
a:focus,
a:visited,
a:active{
  text-decoration: none;
  outline: none;
}


body{
  background: #f4f2f3;
  font-family: 'RobotoRegular';
}

header{
  background: white;
  padding: 10px 0;
  
  .logo{
    img{
      width: 150px;
    }
  }
  
  .info{
      p{
        font-size: 12px;
        color: #3c3837;
        margin-bottom: 0;
      }
      
      a{
        color: #3c3837;
        font-size: 14px;
      }
    }
  
  .menuHeader{
    float: right;
    height: 99px;;
    
    li{
      float: left;
      line-height: 104px;
      margin-right: 40px;
      vertical-align: middle;
      
      a{
        color: #676767;
        font-size: 16px;
      }
      
      &.btnHeader{
        margin-right: 0;
        a{
          text-transform: uppercase;
          font-family: "RobotoBold";
          font-size: 16px;
          margin-top: 30px;
          color: white;
          background: #f8578d;
          display: block;
          width: 205px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 25px;
        }
      }
    }
  }
}


.section1{
  height: 750px;
  background: url(../img/section1-bg.png);
  background-size: cover;
  background-position: top center;
  padding-top: 280px;
  margin-bottom: 50px;
  
  h1{
    font-family: "LoraBold";
    font-size: 80px;
    text-align: center;
    color: #fff;
    
    span{
      font-family: "EBGaramondRegular";
      font-size: 48px;
      color: #fff;
      text-align: center;
      display: block;
      width: 100%;
      text-transform: uppercase;
      padding-top: 15px;
    }
  }
}

.section2{
  
  position: relative;
  overflow: hidden;
  
  .ring{
    position: absolute;
    left: 50%;
    margin-left: 540px;
    z-index: 2;
    width: 360px;
    bottom: 180px;
  }
  
  h1{
    padding-bottom: 50px;
    font-size: 38px;
    color: #3c3837;
    font-family: "LoraBold";
    position: relative;
    text-align: center;
  }
  
  .variants{
    margin-bottom: 50px;
  }
  
  li{
    text-align: center;
    
    img{
      width: 100%;
    }
    
    span{
        font-size: 20px;
        font-family: "RobotoLight";
        position: relative;
      
      
    &:hover{
      text-decoration: underline;
      }
    }
    
    .textDiv{
      padding: 50px 0;
      background: #fff;
      
      .title{
        padding-bottom: 25px;
        font-size: 30px;
        color: #3c3837;
        font-family: "LoraBold";
        position: relative;
        width: 100%;
        
        &:after{
          content: '';
          background: url(../img/tit-afr.png);
          width: 75px;
          height: 13px;
          display: block;
          position: absolute;
          left: 50%;
          margin-left: -37px;
          bottom: 0;
        }
      }
      
      .text{
        color: #676767;
        font-size: 16px;
        font-family: 'RobotoRegular';
        line-height: 30px;
        margin-bottom: 40px;
      }
      
      .price{
        width: 175px;
        height: 55px;
        line-height: 55px;
        background: white;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #f8578d;
        font-family: "LoraBold";
        font-size: 18px;
        color: #f8578d;
        margin-bottom: 25px;
      }
    }
  }
  
  .saleDiv{
    width: 100%;
    height: 110px;
    line-height: 110px;
    border: 2px dashed #f8578d;
    border-radius: 55px;
    margin-bottom: 50px;
    
    p{
      display: inline-block;
      margin-left: 30px;
      float: left;
      color: #202020;
      font-size: 32px;
      font-family: "LoraBold";
      text-transform: uppercase;
      line-height: 106px;
      margin-bottom: 0;
      
      b{
        font-family: "LoraItalic";
        font-size: 68px;
        color: #f8578d;
        line-height: normal;
        vertical-align: middle;
        position: relative;
        margin: 0 20px;
        top: -5px;
      }
      
      span{
        color: #676767;
        font-family: "RobotoLight";
        letter-spacing: 15px;
        font-size: 24px;
        text-transform: lowercase;
        vertical-align: top;
        line-height: 100px;
        display: inline-block;
      }
    }
    
    .btn{
      float: right;
      text-transform: uppercase;
      font-family: "RobotoBold";
      font-size: 24px;
      letter-spacing: 2px;
      margin: 13px 15px;
      color: white;
      background: #f8578d;
      display: block;
      width: 280px;
      height: 80px;
      line-height: 65px;
      text-align: center;
      border-radius: 40px;
    }
  }
}



.section3{
  margin-bottom: 50px;
  
  .container-fluid {
	padding: 0;
  }
  
  .photoSlider{
    margin-bottom: 0;
    
    li{
      position: relative;
      margin: 0 5px;
      max-height: 400px;
      
      img{
        height: 400px;
      }
      
      span{
        display: none;
      }
      
      a{
        display: block;
        border: 6px solid transparent;
      }
      
      
      &:hover a{
        display: block;
        background: #000;
        color: #fff;
        text-align: center;
        border: 6px solid #f8578d;
        transition: 0.2s;
        
        img{
          opacity: 0.4;
        }
        
        span{
          display: block;
          width: 100%;
          position: absolute;
          top: 50%;
          margin-top: -10px;
          font-size: 20px;
          left: 0;
          text-align: center;
          font-family: "RobotoLight";
        }
      }
    }
    
    .slick-prev, .slick-next{
      position: absolute;
      z-index: 2;
      background: red;
      width: 90px;
      height: 90px;
    }
    
    .slick-prev{
      left: 0;
      background: url(../img/prev.png);
    }
    
    
    
    .slick-next{
      right: 0;
      background: url(../img/next.png);
    }
    
    
    
    .slick-prev:before, .slick-next:before{
      font-size: 0;
    }
  }
}


 .slick-lightbox .slick-prev, 
.slick-lightbox .slick-next{
      position: absolute;
      z-index: 2;
      background: red;
      width: 90px;
      height: 90px;
    }

 .slick-lightbox .slick-prev:before,  .slick-lightbox .slick-next:before{
      font-size: 0;
    }

.slick-lightbox .slick-prev{
      left: 0;
      background: url(../img/prev.png);
    }
    
.slick-lightbox .slick-next{
  right: 0;
  background: url(../img/next.png);
}


.section4{
  margin-bottom: 70px;
  
  .container{
    background: url(../img/bgs4.png) no-repeat top  left 380px;
  }
  
  .review{
  padding-top: 30px;
  
  li{
    outline: none;
  }
	
  img{
    float: left;
    margin-right: 50px;
  }
    
    .txt{
      font-family: "LoraRegular";
      font-size: 18px;
      color: #3c3837;
      line-height: 36px;
      margin-bottom: 50px;
      
      &:after{
        content: "”";
        font-size: 30px;
      }
      
      &:before{
        content: "“";
        font-size: 30px;
        position: absolute;
        margin-left: -20px;
      }
    }
    
    .names{
      color: #3c3837;
      font-size: 18px;
      padding-left: 311px;
      
      i{
        color: #f8578d;
      }
      
      span{
        display: block;
        color: #848484;
        font-size: 14px;
        padding-top: 10px;
      }
    }
}
  
  .slick-dots{
    bottom: -70px;
  }
  
  .slick-dots li button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
  }
  
  .slick-dots li button:before{
    background: #e365a4;
    color: transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    opacity: 1;
    border: 3px solid #f4f2f3;
  }
  
  .slick-dots li.slick-active button:before{
    background: #f4f2f3;
    border: 3px solid #e365a4;
  }
	
}


.section5{
  text-align: center;
  padding-bottom: 125px;
  
  .container{
    position: relative;
  }
  
  
  .bokal{
    position: absolute;
    bottom: -80px;
    left: -120px;
  }
  
  h2{
    color: #3c3837;
    font-size: 48px;
    font-family: "LoraBold";
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 20px;
    
    &:after{
      content: '';
      position: absolute;
      display: block;
      background: url(../img/tit-afr.png);
      width: 75px;
      height: 13px;
      left: 50%;
      margin-left: -37px;
      bottom: 0;
    }
  }
  
  .txt{
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #676767;
    line-height: 30px;
    margin-bottom: 60px;
  }
  
  
  form{
    text-align: left;
    padding: 50px;
    background: #fff;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    
    .title{
      color: #3c3837;
      font-size: 24px;
      font-family: "LoraBold";
      margin-bottom: 35px;
    }
    
    textarea{
      width: 100%;
      height: 270px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 15px 30px;
      background: none;
      font-size: 14px;
      border: none;
      border: 1px solid #e2e2e2;
      resize: none;
    }
    
    .input1{
    float: left;
  }
  
  .input2{
    float: right;
  }
  
  .input{
    width: 49%;
    margin-bottom: 20px;
    
    input{
      width: 100%;
      height: 48px;
      line-height: 48px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-left: 30px;
      background: none;
      font-size: 14px;
      border: none;
      border: 1px solid #e2e2e2;
    }
  }
  
  .btnForm{
    text-transform: uppercase;
    font-family: "RobotoBold";
    font-size: 16px;
    margin-top: 14px;
    color: white;
    background-color: rgb(248, 87, 141);
    display: block;
    width: 215px;
    height: 55px;
    border: none;
    bottom: -27px;
    outline: none;
    left: 50%;
    margin-left: -108px;
    position: absolute;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 12px 54px 0px rgba(248, 87, 141, 1);
  }
  }
  
}


.section-page{
  padding-top: 30px;
  
  h1{
    padding-bottom: 25px;
    font-size: 48px;
    color: #3c3837;
    font-family: "LoraBold";
    position: relative;
    width: 100%;
    text-align: center;
    
    &:after{
      content: '';
      background: url(../img/tit-afr.png);
      width: 75px;
      height: 13px;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -37px;
      bottom: 0;
    }
  }
  
  img{
    width: 100%;
  }
  
  .dec{
    color: #676767;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .info{
    padding-top: 100px;
    position: relative;
    
    p{
      top: 100px;
      left: 0;
      font-size: 30px;
      color: #3c3837;
      font-family: "LoraBold";
      width: 250px;
      position: absolute;
      line-height: 48px;
      
      .btnP{
        margin-top: 30px;
        display: block;
        background-color: rgb(248, 87, 141);
        box-shadow: 0px 12px 54px 0px rgba(248, 87, 141, 1);
        width: 160px;
        height: 54px;
        line-height: 54px;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-family: "RobotoBold";
        border-radius: 27px;
        text-align: center;
      }
    }
    
    .btnB{
        margin: 100px auto;
        display: block;
        background-color: rgb(248, 87, 141);
        box-shadow: 0px 12px 54px 0px rgba(248, 87, 141, 1);
        width: 290px;
        height: 54px;
        line-height: 54px;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-family: "RobotoBold";
        border-radius: 27px;
        text-align: center;
      }
  }
}

footer{
  text-align: center;
}





@media screen and (max-width: 1199px){

  
  .section5 .bokal{
    display: none;
  }
  
  .pr0{
      padding-right: 0;
    }
  
  .section-page .info p{
    position: static;
    width: 100%;
  }
  
  .section2 .saleDiv p .days{
    letter-spacing: 2px;
  }
}


@media screen and (max-width: 991px){
  header{
    .logo{
      display: table;
      margin: 0 auto;
      
      img{
        width: 150px;
      }
    }
    
    .info{
        text-align: center;
      
      }
    .pr0{
      padding-right: 15px;
    }
    
    
    
    
  }
  
  .section3 .photoSlider li img {
    height: 350px;
}

  
  .section-page{
    ul{
      li{
        padding-top: 30px;
        font-size: 18px;
        line-height: 30px;
        font-family: "RobotoBold";
        
        &:after{
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          height: 20px;
          margin-top: 3px;
          margin-left: 22px;
          border-left: 1px dashed red;
        }
        
        &:last-child:after{
          display: none;
        }
        
        img{
          margin-right: 20px;
          width: 45px;
          max-height: 50px;
        }
      }
    }
  }
  
  .section1 h1{
    font-size: 50px;
    
    span{
      font-size: 36px;
    }
  }
  
  .section1{
    margin-bottom: 40px;
  }
  
  .section2 .variants li{
    max-width: 400px;
    margin: 10px auto 20px auto;
  }
  
  .section2 .saleDiv .btn{
    width: 240px;
  }
  
  .section3 .photoSlider .slick-prev, .section3 .photoSlider .slick-next{
    width: 45px;
    height: 45px;
    background-size: 100% 100%;
  }
  
  .slick-lightbox .slick-prev, .slick-lightbox .slick-next{
    width: 45px;
    height: 45px;
    background-size: 100% 100%;
  }
  
  .section4 .review img{
    float: none;
    display: block;
    margin: 0 auto 20px auto;
  }
  
  
  .section4 .review .names{
    padding-left: 0;
  }
  
  .section4 .container{
    background-position: top right;
  }
  
  .section4{
    margin-bottom: 50px;
  }
  
  .section4 .slick-dots{
    bottom: -45px;
  }
  
  .section4 .review .txt{
    position: relative;
  }
  
  .section4 .review .txt:before{
    display: none;
  }
  
  .section4 .review .txt:after{
    display: none;
  }
  
  .modalMain .modal-dialog{
    width: auto;
  }
  
  .section2 .saleDiv {
    height: 50px;
    line-height: 50px;
    
    p{
    font-size: 18px;
      line-height: 46px;
    
    b{
      margin: 0 5px;
      font-size: 32px;
    }
  }
    
    .btn{
      width: 160px;
      font-size: 19px;
      line-height: 40px;
      height: 40px;
      margin: 3px 5px;
      padding: 0;
    }
  }
  
  .section2 .saleDiv p .days{
    letter-spacing: 2px;
    line-height: 46px;
  }
  
  
}

@media screen and (max-width: 768px){
  
    
 
    
    
    
  
  .section2 .ring{
    display: none;
  }
  
  .section-page .info p{
    text-align: center;
    
    a{
      margin: 30px auto;
    }
  }
  
  .section-page .info{
    padding-top: 40px;
  }
  
  .section-page{
    ul{
      li{
        padding-top: 35px;
        font-size: 18px;
        line-height: 30px;
        font-family: "RobotoBold";
        text-align: center;
        
        &:after{
          content: "";
          left: 50%;
          margin-left: 0;
          margin-top: 3px;
          height: 25px;
        }
        
        img{
          margin-right: 20px;
          width: auto;
          max-height: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  
   .section3 .photoSlider li img {
        height: 300px;
    }
}

@media screen and (max-width: 665px){
  
  header .menuHeader{
    height: auto;
    display: table;
    margin: 0 auto;
    float: none;
    padding-top: 10px;
    
    li{
      float: none;
      display: inline-block;
      line-height: 35px;
      margin: 0 9px;
      
      &.btnHeader{
        display: block;
        margin: 0 auto;
        width: 205px;
        
        a{
          margin-top: 5px;
          height: 45px;
          line-height: 45px;
        }
      }
    }
  } 
  
  .thanks h1{
    font-size: 4em;
  }
  
  .thanks h2{
    font-size: 2em;
  }
  
  

  
  .section2 .saleDiv p .days{
    letter-spacing: 5px;
    line-height: 46px;
    display: block;
    line-height: 20px;
    font-size: 16px;
  }
  
  .section2 .saleDiv{
    height: auto;
    text-align: center;
    width: 290px;
    margin: 0 auto 20px auto;
    padding: 5px 0;
    
    
    &:after{
      content: "";
      display: table;
      clear: both;
    }
    
    .btn{
      display: block;
      float: none;
      margin: 0 auto 10px auto;
    }
    
    p{
      float: none;
      margin-left: 0;
    }
  }
  
  
  
  header .logo img{
    width: 120px;
  }
  
  .section1{
    padding-top: 200px;
    height: 650px;
  }
  
  .section5 form{
    padding: 30px;
  }
  
   .section3 .photoSlider li img {
        height: 250px;
    }
}

@media screen and (max-width: 479px){
  
  
   .section3 .photoSlider li img {
        height: 200px;
    }
  
  .section3 .photoSlider li:hover a span{
    font-size: 16px;
  }
  
  .section5 form .input{
    width: 100%;
  }
  
  .section5 h2{
    font-size: 36px;
  }
  
  
  .section5 form{
    padding: 20px 15px;
    
    .btnForm{
      bottom: -40px;
    }
  }
  
  .modalMain .input{
    width: 100%;
  }
  
  .modalMain .modal-body{
    padding: 30px 20px;
  }
  
  
  
  header .menuHeader li{
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 26px;
    
    &:last-child{
      margin-top: 10px;
    }
    
    a{
      font-size: 16px;
    }
  }
}




@media screen and (max-width: 379px){
  .section1{
    padding-top: 150px;
    height: 550px;
  }
  
  .section1 h1{
    width: 80%;
    margin: 0 auto;
  }
}



