@media (max-width: 1439px) {
  main{
    width: 1200px;
  }
  
  section .service-list .serv .title{
    font-size: 22px;
    line-height: 30px;
  }
  
  section .work-list{
    gap: 18px;
  }
  
  section .work-list li{
    width: 269px;
    height: 269px;
  }
  
  section .post-list li{
    width: 363px;
    height: 280px;
  }
  
  section .post-list li .img{
    height: 200px;
  }
}

@media (max-width: 1279px) {
  main{
    width: 950px;
  }
  
  section .me-img{
    width: 300px;
    height: 300px;
  }
  
  section .service-list .serv{
    padding: 15px;
  }
  
  section .work-list {
    gap: 20px;
  }
  
  section .work-list li {
    width: 280px;
    height: 280px;
  }
  
  section .numbers{
    font-size: 16px;
  }
  
  section .left{
    padding: 50px 20px 50px 25px;
  }
  
  section .post-list li{
    width: 280px;
    height: 250px;
    margin-bottom: 0;
  }
  
  section .post-list li .img {
    height: 173px;
  }
}

@media (max-width: 990px) {
  main{
    width: 700px;
  }
  
  header .logo .logo-txt{
    font-size: 20px;
  }
  
  header{
    padding: 0 15px 0 25px;
  }
  
  header nav{
    font-size: 16px;
  }
  
  header .logo .icon{
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 7px;
    margin-right: 7px;
  }
  
  header nav a{
    padding: 0 5px;
    margin-left: 5px;
  }
  
  section{
    flex-direction: column;
    overflow-y: scroll;
  }
  
  section .left{
    width: 100%;
    padding: 40px 20px 0px 20px;
    overflow: visible;
  }
  
  section .right{
    width: 100%;
    padding: 20px;
    overflow: visible;
  }
  
  section.line-on:before,
  section p.title-two-line,
  section p.title-line,
  section .btn-linear{
    display: none;
  }

  section h1{
    padding-top: 0;
    padding-bottom: 30px;
    text-align: center;
  }
  
  section .me-img{
    margin: 0 auto 20px auto;
  }


  
  section .btn-default{
    display: none;
  }
  
  section p.point{
    margin-left: 35px;
  }
  
  section .social{
    padding: 20px 0;
  }
  
  section h2{
    padding-left: 40px;
  }
  
  section h2:before{
    left: -20px;
  }
  
  section h3{
    padding-left: 25px;
  }
  
  section h3:after{
    left: -20px;
  }
  
  section h3:before{
    display: none;
  }
  
  section .work-list li{
    width: 210px;
    height: 210px;
  }
  
  section .work-list{
    gap: 15px;
  }
  
  section .fully{
    padding: 40px 20px;
  }
  
  section .post-list li {
    width: 320px;
    height: 260px;
  }
  
  section .post-list li .img {
    height: 183px;
  }
  
  section form{
    margin-bottom: 20px;
  }
  
  .modal{
    width: 600px;
  }
  
  .close-modal{
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 767px) {
  main{
    width: 100%;
    border: none;
    box-shadow: none;
    height: 100%;
    border-radius: 0;
  }
  
  header{
    border-radius: 0;
    padding: 0 15px;
  }
  
  header .nav-btn{
    display: block;
  }
  
  header nav{
    display: none;
    position: absolute;
    width: 200px;
    background: #171D25;
    right: 0;
    top: 62px;
    flex-direction: column;
    box-shadow: -2px 2px 2px rgb(0, 0, 0, 0.8);
  }
  
  header nav.open{
    display: block;
  }
  
  header nav a.active:before{
    display: block;
    left: 0;
    height: 100%;
    width: 3px;
    transform: none;
  }
  
  header nav a.active:hover:before{
    width: 3px;
  }
  
  header nav a:hover:before{
    width: 0;
    -webkit-transition: none;
    transition: none;
  }
  
  header nav a:before{
    -webkit-transition: none;
    transition: none;
  }
  
  header nav a{
    margin-left: 0;
    padding: 0 20px;
    font-size: 20px;
    line-height: 50px;
    transition: none;
  }
  
  section .work-list li{
    width: 48%;
    height: auto;
  }
  section .work-list{
    gap: 4%;
  }
  
  section .work-tabs{
    flex-wrap: wrap;
  }
  
  section .work-tabs li{
    margin-bottom: 10px;
  }
  
  section .post-list li{
    width: 48%;
  }
  
  section .post-list{
    gap: 4%;
  }
  
  .modal {
    width: 500px;
  }
}

@media (max-width: 650px) {
  section .post-list li .img {
    height: 130px;
  }
  
  section .post-list li{
    height: 210px;
  }
}

@media (max-width: 550px) {
  section .post-list li{
    width: 100%;
    height: auto;
  }
  
  section .post-list li .img{
    height: auto;
  }
  
  section .post-list li p{
    height: auto;
    margin-bottom: 10px;
    max-height: 70px;
  }
  
  section form div.w50{
    width: 100%;
  }
  
  .modal {
    width: 400px;
    padding: 15px;
  }
}


@media (max-width: 479px) {
  section .me-img {
    width: 280px;
    height: 280px;
  }
  
  section h1{
    font-size: 45px;
    line-height: 60px;
  }
  
  section h1 .prof{
    font-size: 25px;
  }
  
  section .service-list .serv{
    width: 100%;
  }
  
  section .numbers li{
    flex-wrap: wrap;
  }
  
  section .numbers li hr{
    margin: 0 10px;
  }
  section .numbers li:before{
    min-width: 25px;
  }
  
  .modal {
    width: 300px;
    top: 100px;
    transform: translateY(0);
    transform: translateX(-50%);
  }
  
  .close-modal{
    top: 10px;
    left: 50%;
    margin-left: -40px;
  }
  
}
