@font-face { font-family: "DINPro-Regular"; src: url("../fonts/DINPro.eot"); src: url("../fonts/DINPro.eot?iefix") format("embedded-opentype"), url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("truetype"); }
@font-face { font-family: "DINPro-Bold"; src: url("../fonts/DINPro-Bold.eot"); src: url("../fonts/DINPro-Bold.eot?iefix") format("embedded-opentype"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.svg#svgFontName") format("svg"); }
body { font-family: "DINPro-Regular", sans-serif; font-size: 14px; color: #000; }

a { font-family: "DINPro-Regular", sans-serif; text-decoration: none; }

hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #d4d3d0; }

.mb130 { margin-bottom: 130px !important; }

.salePrice { color: #d60303; font-family: "DINPro-Regular", sans-serif !important; font-size: 14px !important; padding-right: 5px; }
.salePrice .bold { font-size: 16px !important; }

.oldPrice { color: #666; font-family: "DINPro-Regular", sans-serif !important; font-size: 14px !important; padding-right: 5px; text-decoration: line-through; }
.oldPrice .bold { font-size: 14px !important; }

h1 { font-size: 20px; text-transform: uppercase; margin-bottom: 10px; padding-top: 10px; line-height: 25px; }

h2 { font-size: 20px; margin-bottom: 10px; padding-top: 10px; }

.line-b-dashed { border-bottom: 1px dashed #000; }

.toTopBtn { bottom: 0; cursor: pointer; display: none; font-size: 16px; position: fixed; left: 40px; bottom: 40px; color: #fbb738; text-align: center; }
.toTopBtn img { transform: scaleY(-1); margin-bottom: 5px; }

.greyBg { background: #f1f2f5; }

.title { font-family: "DINPro-Regular", sans-serif; font-size: 24px; color: #000; line-height: 34px; padding-bottom: 10px; }

.listUlSquare { list-style-type: square; padding-left: 40px; line-height: 20px; margin-bottom: 10px; }

.listUlCircle { list-style-type: disc; padding-left: 40px; line-height: 20px; margin-bottom: 10px; }

.italic { font-style: italic; }

.container { width: 1170px; margin: 0 auto; }

.bold { font-family: "DINPro-Bold"; }

.clearfix:after { content: ""; clear: both; display: table; }

.clearfixLine { clear: both; }

.text { font-size: 14px; text-align: justify; line-height: 20px; margin-bottom: 10px; }

.btnOrg { border: 1px solid #fbb738; border-radius: 4px; background: #fbb738; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; float: right; padding: 0 10px; line-height: 24px; text-decoration: none; outline: none; cursor: pointer; }

.modal { background: #fff; left: 50%; margin: -300px 0 0 -250px; position: fixed; top: -50%; display: none; width: 500px; border-radius: 5px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; z-index: 5; }
.modal:after { content: ""; position: fixed; display: none; background-color: rgba(0, 0, 0, 0.8); top: 0; left: 0; height: 100%; width: 100%; }

.modal:target { top: 50%; transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; display: block; -webkit-transition: all 0.4s ease-in-out; }
.modal:target:after { display: block; }

.modal .modal-title { text-align: center; position: relative; font-size: 28px; color: #241d37; border-bottom: 1px solid #e5e5e5; padding: 15px 10px; z-index: 2; background: white; }
.modal .modal-title .btnClose { position: absolute; top: 6px; right: 10px; color: #000; opacity: 0.4; font-size: 30px; }

.modal .modal-body { padding: 25px 10px 30px 10px; background: white; z-index: 2; position: relative; }
.modal .modal-body .titleInput { display: inline-block; width: 28%; text-align: right; vertical-align: top; }
.modal .modal-body .titleInput li { line-height: 36px; vertical-align: middle; margin-bottom: 20px; padding-right: 12px; font-size: 14px; color: #3c3c3c; }
.modal .modal-body .right { display: inline-block; width: 61%; vertical-align: top; }
.modal .modal-body .right input[type="text"] { display: inline-block; width: 270px; height: 34px; padding: 0 10px; font-family: "DINPro-Regular", sans-serif; outline: none; font-size: 14px; line-height: 34px; color: #666; background-color: #fff; border: 1px solid #d4d3d0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); margin-bottom: 20px; }
.modal .modal-body .right textarea { display: block; width: 270px; height: 34px; padding: 0 10px; font-family: "DINPro-Regular", sans-serif; font-size: 14px; line-height: 34px; color: #666; background-color: #fff; border: 1px solid #d4d3d0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); margin-bottom: 20px; resize: vertical; height: 150px; outline: none; }
.modal .modal-body .right .confirm-block input[type="checkbox"] + label span { background-attachment: scroll; background-clip: border-box; background-color: rgba(0, 0, 0, 0); background-image: url(../img/check.png); background-origin: padding-box; background-position-x: left; background-position-y: top; background-repeat: no-repeat; background-size: auto auto; cursor: pointer; display: inline-block; height: 20px; margin-bottom: 0; margin-left: 0; margin-right: 10px; margin-top: -5px; vertical-align: middle; width: 20px; filter: brightness(90%); }
.modal .modal-body .right .confirm-block input[type="checkbox"]:checked + label span { background-attachment: scroll; background-clip: border-box; background-color: rgba(0, 0, 0, 0); background-image: url(../img/check.png); background-origin: padding-box; background-position-x: -20px; background-position-y: top; background-repeat: no-repeat; background-size: auto auto; }
.modal .modal-body .right .confirm-block label { font-weight: normal; font-size: 14px; color: #3c3c3c; }
.modal .modal-body .confirm-block input[type="checkbox"] { display: none; }
.modal .modal-body i { color: red; }
.modal .modal-body .captcha { margin-bottom: 15px; }
.modal .modal-body .confirm-block { font-size: 14px; margin-bottom: 15px; }
.modal .modal-body .confirm-block .confirm-trigger { color: #428bca; }
.modal .modal-body .modal-buttom-form { border: 1px solid #fbb738; border-radius: 4px; background: #fbb738; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 4px 10px; }

.modalMore .modal-title .btnClose { top: -3px; }

.modalMore .modal-body p { font-size: 14px; line-height: 20px; }

.modalConsult .phonePlus { display: block; width: 22px; height: 34px; background: #ddd; font-size: 14px; line-height: 34px; text-align: center; position: absolute; margin-top: 1px; margin-left: 1px; }

.modalConsult .phone { padding-left: 25px !important; width: 255px !important; }

.modalConsult select { display: inline-block; width: 70px; height: 34px; padding: 0 10px; font-family: "DINPro-Regular", sans-serif; font-size: 14px; line-height: 34px; color: #666; background-color: #fff; border: 1px solid #d4d3d0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); margin-bottom: 20px; }

.modalConsult .date .datePicker { width: 195px !important; }

.modalConsult .adress { width: 290px; }

.modalCall .phonePlus { display: block; width: 22px; height: 34px; background: #ddd; font-size: 14px; line-height: 34px; text-align: center; position: absolute; margin-top: 1px; margin-left: 1px; }

.modalCall .phone { padding-left: 25px !important; width: 255px !important; }

.modalFastShop .itemBlockM { padding: 10px; border: 1px solid #d4d3d0; margin-bottom: 30px; }
.modalFastShop .itemBlockM img { width: 50%; float: left; margin-right: 20px; }
.modalFastShop .itemBlockM .titleiM { margin-bottom: 20px; line-height: 18px; }
.modalFastShop .itemBlockM .priceiM span { font-family: "DINPro-Bold", sans-serif; }

.mobileHeader { background: url(../img/header_mob-bg.png); height: 50px; width: 100%; display: none; }
.mobileHeader .basket { float: left; display: block; width: 60px; height: 50px; line-height: 50px; background: #fbb738; text-align: center; }
.mobileHeader .basket img { vertical-align: middle; }
.mobileHeader .mobBtnOpen { float: right; display: block; width: 50px; height: 50px; line-height: 50px; color: #666; font-size: 30px; text-align: center; }
.mobileHeader .mobBtnOpen .bars-top { display: block; width: 35px; height: 5px; background-color: #666; box-shadow: 0 10px 0 #666, 0 20px 0 #666; float: left; margin-left: 3px; margin-top: 12px; }

.mobileMenu { width: 100%; position: absolute; top: 50px; background: #3c3c3c; z-index: 5; display: none; }
.mobileMenu.show { display: block; }
.mobileMenu li { position: relative; }
.mobileMenu li a { display: block; padding: 10px 15px; font-size: 22px; color: #fff; border-bottom: 1px solid #666; line-height: 30px; vertical-align: top; }
.mobileMenu li a img { height: 30px; float: left; margin-right: 10px; }
.mobileMenu .mobDropBtn.open { border-bottom: none; }
.mobileMenu .mobDropBtn.open span { transform: rotate(180deg); top: 6px; }
.mobileMenu .mobDropBtn span { position: absolute; top: 10px; right: 12px; }
.mobileMenu .mobDropBtn span img { height: auto; margin-right: 0; }
.mobileMenu .cartLi:after { content: ""; position: absolute; display: block; width: 30px; height: 30px; border-radius: 50%; background: #fbb738; top: 6px; right: 15px; }
.mobileMenu .mobDropList { display: none; border-bottom: 1px solid #666; }
.mobileMenu .mobDropList li { padding-left: 40px; }
.mobileMenu .mobDropList li a { font-size: 18px; border-bottom: none; }
.mobileMenu .mobDropList.show { display: block; }

.mainHeader .topHeader { background: url(../img/header-top.png) repeat-x; height: 52px; }
.mainHeader .topHeader .greenBtn { display: inline-block; border: 1px solid #55a723; border-radius: 4px; background: none; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #55a723; margin-top: 12px; text-transform: uppercase; padding: 0 10px; line-height: 27px; text-decoration: none; }
.mainHeader .topHeader .topHeaderRight { float: right; }
.mainHeader .topHeader .topHeaderRight li { float: left; padding: 13px 0; line-height: 26px; }
.mainHeader .topHeader .topHeaderRight .topLogin { font-family: "DINPro-Regular", sans-serif; font-size: 14px; color: #666; border-bottom: 1px solid #666; text-decoration: none; margin-right: 30px; }
.mainHeader .topHeader .topHeaderRight .basketNum { background: url(../img/pole_num.png) no-repeat; width: 31px; height: 26px; border-radius: 4px; float: right; text-align: center; background-size: 100%; line-height: 26px; font-family: "DINPro-Bold", sans-serif; color: #000; font-size: 14px; margin-left: 10px; }
.mainHeader .topHeader .topHeaderRight .orangeBtn { margin-left: 20px; }
.mainHeader .middleHeader .container { border-bottom: 1px solid #e8e8e8; padding-bottom: 30px; }
.mainHeader .middleHeader .midleft { float: left; padding-top: 30px; }
.mainHeader .middleHeader .midleft .logo { display: inline-block; vertical-align: top; margin-right: 25px; }
.mainHeader .middleHeader .midleft .search { display: inline-block; vertical-align: top; width: 200px; position: relative; border: 1px solid #ccc; border-radius: 4px; margin-top: 15px; }
.mainHeader .middleHeader .midleft .search input[type="text"] { width: 100%; height: 22px; padding: 0 10px; margin: 0; border: none; padding: 6px 12px; width: 130px; outline: none; border-radius: 4px; }
.mainHeader .middleHeader .midleft .search input[type="submit"] { position: absolute; top: 0; right: 1px; width: 34px; height: 34px; background: url(../img/input-search-top.png); border: none; padding: 0; cursor: pointer; outline: none; }
.mainHeader .middleHeader .midRight { float: right; }
.mainHeader .middleHeader .midRight .midHeaderPhones { display: inline-block; vertical-align: top; padding-top: 25px; }
.mainHeader .middleHeader .midRight .midHeaderPhones .phone { display: block; font-family: "DINPro-Regular", sans-serif; font-size: 22px; color: #000; text-decoration: none; line-height: 28px; }
.mainHeader .middleHeader .midRight .midHeaderPhones .phone2 { padding-left: 11px; }
.mainHeader .middleHeader .midRight .midHeaderPhones .phoneTxt { display: block; font-size: 12px; padding-left: 11px; color: #666; }
.mainHeader .middleHeader .midRight .midHeaderBtns { display: inline-block; vertical-align: top; padding-left: 35px; }
.mainHeader .middleHeader .midRight .midHeaderBtns a { display: block; min-width: 130px; border: 1px solid #fbb738; border-radius: 4px; background: none; font-family: "DINPro-Bold", sans-serif; line-height: 23px; font-size: 12px; color: #000; text-transform: uppercase; text-align: center; margin-top: 15px; outline: none; cursor: pointer; }
.mainHeader .middleHeader .midRight .midHeaderBtns a.helpBtn { margin-top: 28px; }
.mainHeader .bottomHeader { padding: 15px 0 20px 0; }
.mainHeader .bottomHeader p { font-size: 14px; color: #666; float: left; }
.mainHeader .bottomHeader p .bold { color: #000; }
.mainHeader .bottomHeader ul { float: right; }
.mainHeader .bottomHeader ul li { display: inline-block; margin-left: 16px; }
.mainHeader .bottomHeader ul a { font-size: 14px; color: #241d37; text-decoration: underline; }
.mainHeader .bottomHeader ul a:hover { text-decoration: none; }

.headerNav { background: url(../img/menu_button.png); height: 60px; position: relative; }
.headerNav .dropMenuBtn { float: left; font-family: "DINPro-Bold", sans-serif; font-size: 13px; color: #fbb738; text-decoration: none; text-transform: uppercase; background: #241d37; border-radius: 4px; padding: 10px; margin-top: 13px; }
.headerNav .dropMenuBtn i { margin-right: 10px; }
.headerNav .rightUl { float: right; padding: 20px 0; }
.headerNav .rightUl li { float: left; padding: 0 10px; vertical-align: middle; height: 20px; line-height: 20px; }
.headerNav .rightUl li:after { content: ""; width: 0; height: 20px; margin-left: 10px; position: absolute; border-left: 1px solid #faa72b; border-right: 1px solid #fcc13d; }
.headerNav .rightUl li.last { padding-right: 0; }
.headerNav .rightUl li.last:after { display: none; }
.headerNav .rightUl a { font-family: "DINPro-Bold", sans-serif; font-size: 14px; color: #241d37; border-bottom: 1px solid #241d37; text-decoration: none; text-transform: uppercase; }
.headerNav .rightUl a:hover { border: 0; }
.headerNav .dropMenu { display: none; position: absolute; top: 44px; padding: 25px 0 10px 0; width: 250px; text-align: left; background-color: #241d37; border-radius: 4px; z-index: 3; }
.headerNav .dropMenu li { padding: 0 35px 20px 35px; }
.headerNav .dropMenu a { text-transform: uppercase; font-size: 15px; margin: 0; color: #fff; }
.headerNav .dropMenu a:hover { text-decoration: underline; }
.headerNav .dropMenu.open { display: block; }

.mainSection .cubeBg { background: url(../img/bg.png); margin-bottom: 30px; }
.mainSection .ulCategory { padding: 30px 0; }
.mainSection .ulCategory li { float: left; width: 14.28%; text-align: center; }
.mainSection .ulCategory li a { display: block; }
.mainSection .ulCategory li img { display: block; margin: 0 auto; }
.mainSection .ulCategory li span { text-decoration: none; color: black; font-family: "DINPro-Bold", sans-serif; font-size: 12px; text-transform: uppercase; }
.mainSection .singleSliderDiv { width: 33%; display: inline-block; vertical-align: top; margin-bottom: 30px; }
.mainSection .mainSingleSlider { width: 66%; display: inline-block; vertical-align: top; margin-bottom: 30px; max-height: 360px; overflow: hidden; }
.mainSection .mainSingleSlider .slick-slide a { outline: none; }
.mainSection .mainSingleNav .navItem { width: 258px !important; display: block; min-height: 44px; padding: 10px 100px 4px 10px; outline: none; border: 2px solid transparent; border-bottom: 1px solid #d4d3d0; font-family: "DINPro-Bold", sans-serif; font-size: 14px; color: #666; line-height: 20px; margin-left: 14px; cursor: pointer; }
.mainSection .mainSingleNav .navItem .moreBtn { display: none; }
.mainSection .mainSingleNav .navItem.is-active { border: 2px solid #fbb738; background: #fff; color: #000; padding: 8px 100px 3px 10px; min-height: 46px; position: relative; }
.mainSection .mainSingleNav .navItem.is-active .moreBtn { display: block; position: absolute; top: 12px; right: 12px; width: 70px; border-radius: 4px; background: #fbb738; padding: 7px 10px; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; }
.mainSection .mainSingleNav .navItem.is-active:after { content: ""; background: url(../img/main-slider-aft.png); background-size: 100% 100%; display: block; position: absolute; top: 16px; left: -14px; width: 14px; height: 28px; z-index: 2; }
.mainSection .allSaleBtn { border-radius: 4px; background: #fbb738; display: inline-block; float: right; padding: 0; font-family: "DINPro-Bold", sans-serif; font-size: 10px; color: #000; text-transform: uppercase; width: 92px; height: 33px; line-height: 33px; text-align: center; margin-right: 10px; }
.mainSection .allSaleDiv { width: 100%; padding-top: 22px; }
.mainSection .infoList { margin-bottom: 20px; }
.mainSection .infoList li { display: inline-block; vertical-align: top; width: 50%; margin-left: -4px; font-size: 14px; line-height: 20px; color: #333; padding-top: 20px; }
.mainSection .infoList p { padding: 8px 12px; margin-left: 70px; }
.mainSection .infoList img { float: left; margin: 8px 12px; }
.mainSection .mainInfo { padding-bottom: 50px; }
.mainSection .mainCollection .questionBtn { border: 1px solid #fbb738; border-radius: 4px; background: none; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 4px 10px; float: right; }
.mainSection .mainCollection .collectionSlider .slick-prev:before, .mainSection .mainCollection .collectionSlider .slick-next:before { font-size: 0; }
.mainSection .mainCollection .collectionSlider .slick-prev, .mainSection .mainCollection .collectionSlider .slick-next { background: url(../img/coll-right.png); width: 12px; height: 18px; top: -23px; z-index: 2; right: 0; }
.mainSection .mainCollection .collectionSlider .slick-slide { margin: 0 12px; }
.mainSection .mainCollection .collectionSlider .slick-list { margin: 0 -12px; }
.mainSection .mainCollection .collectionSlider .slick-prev { background: url(../img/coll-left.png); right: 24px; left: auto; }
.mainSection .mainCollection .collectionSlider .slick-dots li { width: 10px; height: 10px; margin-left: 0; display: inline-block; }
.mainSection .mainCollection .collectionSlider .slick-dots li button { width: 10px; height: 10px; background-color: #d4d3d0; border: 1px solid #fff; border-radius: 50%; color: transparent; }
.mainSection .mainCollection .collectionSlider .slick-dots li button:before { font-size: 0; width: 10px; height: 10px; }
.mainSection .mainCollection .collectionSlider .slick-dots li.slick-active button { background: #fbb738; }
.mainSection .mainCollection .collectionSlider .slick-dots { bottom: auto; }
.mainSection .mainCollection .collectionSlider li { text-align: center; width: 33.33%; margin-left: -4px; display: none; margin-bottom: 25px; }
.mainSection .mainCollection .collectionSlider li:nth-child(1) { display: inline-block; }
.mainSection .mainCollection .collectionSlider li:nth-child(2) { display: inline-block; }
.mainSection .mainCollection .collectionSlider li:nth-child(3) { display: inline-block; }
.mainSection .mainCollection .collectionSlider li img { margin-bottom: 20px; width: 95%; }
.mainSection .mainCollection .collectionSlider li a { display: block; outline: none; overflow: hidden; position: relative; width: 200px; height: 200px; margin: 0 auto 20px auto; }
.mainSection .mainCollection .collectionSlider li a img { position: absolute; left: 50%; top: 50%; height: 100%; width: auto; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.mainSection .mainCollection .collectionSlider li a img.portrait { width: 100%; height: auto; }
.mainSection .mainCollection .collectionSlider li span { font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #241d37; }
.mainSection .mainCollection .collectionSlider .slick-slide { display: block !important; margin: 0 12px !important; }
.mainSection .mainCollection .collectionSlider .slick-slide img { position: absolute; left: 50%; top: 50%; height: 100%; width: auto; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.mainSection .desingItems { padding: 30px 0; }
.mainSection .desingItems li { float: left; width: 33.33%; max-width: 374px; margin-right: 24px; }
.mainSection .desingItems li.last { margin-right: 0; }
.mainSection .desingItems li a { display: block; font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #241d37; display: block; outline: none; }
.mainSection .desingItems li a img { width: 100%; display: block; margin-bottom: 15px; }
.mainSection .desingItems li span { display: block; text-align: center; line-height: 20px; padding: 0 20px; }
.mainSection .newsSocial { background: #f1f2f5; padding: 30px 0; }
.mainSection .newsSocial .news { width: 100%; float: left; }
.mainSection .newsSocial .news li { border-bottom: 2px solid #d4d3d0; padding-bottom: 25px; margin-bottom: 5px; }
.mainSection .newsSocial .news li a:hover { text-decoration: none; }
.mainSection .newsSocial .news .date { font-size: 12px; color: #666; display: block; padding: 5px 0 10px 0; }
.mainSection .newsSocial .news a { font-size: 15px; color: #241d37; line-height: 22px; text-decoration: underline; }
.mainSection .newsSocial .social { width: 66.67%; float: left; }
.mainSection .newsSocial .social .title { padding-left: 30px; }
.mainSection .newsSocial .social ul li { padding-left: 30px; display: inline-block; vertical-align: top; }

footer { background: #241d37; padding-bottom: 45px; }
footer .footer-nav { background: #2f273f; }
footer .footer-nav ul { width: 1034px; margin: 0 auto; }
footer .footer-nav li { height: 65px; float: left; line-height: 65px; vertical-align: middle; }
footer .footer-nav li a { margin: 0 10px; font-size: 14px; color: #fbb738; text-decoration: underline; text-transform: uppercase; }
footer .footer-nav li a:hover { text-decoration: none; }
footer .footer-middle .container { border-bottom: 1px solid #2f273f; padding: 20px 0 30px 0; }
footer .footer-middle .text-footer { font-size: 14px; color: #7b7786; line-height: 20px; }
footer .footer-middle .left { width: 550px; float: left; }
footer .footer-middle .left .navLeft { padding-top: 20px; margin-bottom: 30px; }
footer .footer-middle .left .navLeft a { text-decoration: underline; color: #fbb738; font-size: 14px; line-height: 20px; }
footer .footer-middle .left .navLeft a:hover { text-decoration: none; }
footer .footer-middle .left .soc-title { color: #ffffff; margin-bottom: 10px; }
footer .footer-middle .left .socialList li { display: inline-block; margin-right: 5px; }
footer .footer-middle .left .socialList a { width: 25px; height: 25px; line-height: 25px; text-align: center; display: block; background: #929292; color: #fff; border-radius: 50%; }
footer .footer-middle .left .socialList a.facebook:hover { background: #396dee; }
footer .footer-middle .left .socialList a.google:hover { background: #f23547; }
footer .footer-middle .left .socialList a.twitter:hover { background: #35c9f2; }
footer .footer-middle .left .socialList a.pinterest:hover { background: #ee395e; }
footer .footer-middle .left .socialList a.vk:hover { background: #368df2; }
footer .footer-middle .left .socialList a.youtube:hover { background: #ef3a39; }
footer .footer-middle .right { width: 290px; float: right; }
footer .footer-middle .right .adres { text-decoration: underline; color: #fbb738; font-size: 14px; line-height: 20px; }
footer .footer-middle .right .adres:hover { text-decoration: none; }
footer .footer-middle .right .text-footer { padding-top: 10px; }
footer .footer-middle .right .phoneFooter { font-size: 18px; color: #fff; display: block; line-height: 20px; margin-bottom: 5px; }
footer .footer-middle .right .phoneFooter2 { padding-left: 9px; }
footer .footer-middle .right .pay { padding-top: 30px; font-size: 14px; color: #ffffff; }
footer .footer-middle .right .visaimg { width: 85px; margin-top: 10px; }
footer .footer-bottom { padding-top: 20px; color: #7b7786; }

.breadcrumb { padding: 10px 0; }
.breadcrumb li { display: inline-block; font-size: 11px; color: #666; padding-top: 10px; text-transform: uppercase; }
.breadcrumb li:first-child:before { display: none; }
.breadcrumb li:before { padding: 0 5px; color: #ccc; content: "/\00a0"; }
.breadcrumb li a { font-size: 11px; color: #666; text-transform: uppercase; text-decoration: underline; }
.breadcrumb li a:hover { text-decoration: none; }

.catalog h1 { font-size: 34px; text-transform: none; line-height: 35px; padding-right: 130px; }
.catalog .filterShow { display: none; }
.catalog .selectRow .selectDiv { width: 165px; float: left; margin-right: 36px; margin-bottom: 30px; }
.catalog .selectRow .selectDiv.last { margin-right: 0; }
.catalog .selectRow select { width: 100%; height: 34px; font-family: "DINPro-Regular", sans-serif; line-height: 34px; padding: 0 15px 0 10px; background: white; font-size: 14px; line-height: 34px; color: #666; border-color: #d4d3d0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.catalog .selectRow .jq-selectbox { width: 100%; z-index: 2; }
.catalog .selectRow .jq-selectbox__select-text { font-family: "DINPro-Regular", sans-serif; }
.catalog .selectRow .jq-selectbox__select { font-size: 14px; line-height: 34px; color: #666; background: #fff; border: 1px solid #d4d3d0 !important; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.catalog .selectRow .jq-selectbox__trigger-arrow { display: none; }
.catalog .selectRow .jq-selectbox__trigger { background: url(../img/select-arrows.png) no-repeat center center; border-left: 0; width: 20px; }
.catalog .selectRow .btnCloseFilter { display: block; text-align: center; border: 1px solid #d4d3d0; border-radius: 4px; color: #7b7786; text-transform: uppercase; width: 163px; height: 32px; line-height: 32px; font-size: 12px; background: none; }
.catalog .selectRow .mob { display: none; }

.textContent { padding-bottom: 30px; }

.banerContent { display: block; margin-bottom: 30px; }
.banerContent img { width: 100%; }

.catalogFilter { position: relative; }
.catalogFilter .btnHideSecond { position: absolute; top: -25px; right: 0; font-size: 14px; color: #241d37; text-decoration: underline; }
.catalogFilter .line { width: 100%; height: 1px; background: #d4d3d0; margin-bottom: 15px; }
.catalogFilter .switchDiv { position: relative; }
.catalogFilter .onoffswitch { position: absolute; top: 4px; left: 50%; margin-left: -30px; width: 51px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.catalogFilter .onoffswitch-checkbox { display: none; }
.catalogFilter .onoffswitch-label { display: block; overflow: hidden; cursor: pointer; height: 23px; padding: 0; line-height: 23px; border: 2px solid #fdd16e4d; border-radius: 23px; background-color: #FFFFFF; transition: background-color 0.3s ease-in; }
.catalogFilter .onoffswitch-label:before { background: #fbb738 none repeat scroll 0 0; border: 2px solid #fbb738; border-radius: 23px; bottom: 0; content: ""; display: block; height: 21px; margin: 0; position: absolute; right: 26px; top: 1px; transition: all 0.3s ease-in 0s; width: 21px; }
.catalogFilter .onoffswitch-checkbox:checked + .onoffswitch-label { background-color: #FFFFFF; }
.catalogFilter .onoffswitch-checkbox:checked + .onoffswitch-label, .catalogFilter .onoffswitch-checkbox:checked + .onoffswitch-label:before { border: 2px solid #fdd16e4d; border-radius: 23px; }
.catalogFilter .onoffswitch-checkbox:checked + .onoffswitch-label:before { right: 0px; }
.catalogFilter .threeRow .selectDiv { width: 26%; margin-right: 2%; }
.catalogFilter .threeRow .selectDiv select { width: 135px; background: transparent; border-color: #d4d3d0; }
.catalogFilter .threeRow .selectDiv .jq-selectbox__select { border-radius: 0; border: 1px solid #d0d0d2; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); background: transparent; }
.catalogFilter .threeRow .selectDiv.last { width: 18%; float: right; }
.catalogFilter .threeRow .selectDiv.last ul { display: inline-block; }
.catalogFilter .threeRow .selectDiv.last ul li { display: inline-block; margin-left: 10px; }
.catalogFilter .threeRow .selectDiv.last ul a { font-size: 14px; color: #241d37; text-decoration: underline; }
.catalogFilter .threeRow .selectDiv.last ul a.active { text-decoration: none; font-family: "DINPro-Bold"; }
.catalogFilter .threeRow .selectDiv span { font-size: 14px; color: #3c3c3c; margin-right: 20px; line-height: 30px; }
.catalogFilter .threeRow .selectDiv .jq-selectbox { width: 135px; }
.catalogFilter .switchDiv { max-width: 230px; }
.catalogFilter .switchDiv .left { float: left; }
.catalogFilter .switchDiv .right { float: right; }
.catalogFilter .priceBtn { display: block; width: 100%; height: 34px; padding: 6px 10px; font-family: "DINPro-Regular", sans-serif; font-size: 14px; line-height: 1.42857143; color: #666; background-color: #fff; border: 1px solid #f1f2f5; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); text-align: left; border-radius: 0; cursor: pointer; outline: none; }
.catalogFilter .priceBtn .title { font-size: 14px; line-height: 21px; color: #666; }
.catalogFilter .priceBtn .firstPrice, .catalogFilter .priceBtn .hr, .catalogFilter .priceBtn .lastPrice { font-size: 12px; font-family: "DINPro-Bold"; }
.catalogFilter .priceBtn .smIndex { font-size: 11px; }
.catalogFilter .rangePrice { display: none; position: absolute; z-index: 3; width: 100px; background: #f1f2f5; border-radius: 4px; box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.5); padding: 25px 15px 15px; width: 210px; border: 1px solid #f1f2f5; }
.catalogFilter .rangePrice #sliderPrice { margin-bottom: 10px; }
.catalogFilter .rangePrice #price { border: 1px solid #cccccc; width: 55px; padding-left: 15px; height: 25px; border-radius: 3px; line-height: 25px; margin-bottom: 20px; margin-right: 13px; }
.catalogFilter .rangePrice #price2 { border: 1px solid #cccccc; width: 55px; padding-left: 15px; height: 25px; border-radius: 3px; line-height: 25px; margin-bottom: 20px; }
.catalogFilter .rangePrice button { border: 1px solid #fbb738; width: 100%; border-radius: 4px; background: #fbb738; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 4px 10px; }
.catalogFilter .colors { position: relative; }
.catalogFilter .colors button { position: relative; width: 100%; height: 34px; padding: 6px 10px; font-family: "DINPro-Regular", sans-serif; font-size: 14px; line-height: 18px; color: #565656; background-color: #fff; border: 1px solid #e7e8ea; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); cursor: pointer; text-align: left; outline: none; }
.catalogFilter .colors button:after { content: url(../img/select-arrows.png); position: absolute; display: block; width: 7px; height: 15px; top: 50%; margin-top: -7px; right: 5px; }
.catalogFilter .colors .colorsList { display: none; position: absolute; background: white; width: 161px; border: 2px solid #fbb738; z-index: 4; top: 35px; }
.catalogFilter .colors .colorsList ul { overflow-y: scroll; max-height: 250px; }
.catalogFilter .colors .colorsList ul li { padding: 7px; min-height: 20px; vertical-align: middle; }
.catalogFilter .colors .colorsList ul li input[type='checkbox'] { display: none; }
.catalogFilter .colors .colorsList ul li input[type='checkbox']:checked + label, .catalogFilter .colors .colorsList ul li input[type='radio']:checked + label { color: #fbb738; }
.catalogFilter .colors .colorsList ul li input[type='checkbox']:checked + label .checkbox-color, .catalogFilter .colors .colorsList ul li input[type='radio']:checked + label .checkbox-color { outline: 2px solid #fbb738; }
.catalogFilter .colors .colorsList ul li .checkbox-text { display: inline-block; float: right; width: calc(100% - 30px); line-height: 20px; cursor: pointer; }
.catalogFilter .colors .colorsList .checkbox-color { width: 20px; height: 20px; float: left; }
.catalogFilter .colors .colorsList .btnConfim { border: 1px solid #fbb738; display: block; width: 90%; margin: 10px 5%; border-radius: 4px; background: #fbb738; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 4px 0; text-align: center; }

.catalogInfo { padding: 20px 0; }
.catalogInfo ul { margin: 0 15px; }
.catalogInfo li { display: inline-block; margin-left: -4px; width: 364px; padding: 8px 12px; vertical-align: top; font-size: 14px; color: #333; line-height: 21px; font-family: "DINPro-Regula", sans-serif; }
.catalogInfo li:nth-child(3n+2) { width: 464px; }
.catalogInfo li:nth-child(3n+3) { width: 240px; }
.catalogInfo li img { width: 23px; float: left; margin-right: 10px; }

.item { display: inline-block; margin-left: -4px; width: 198px; margin-right: 46px; margin-bottom: 30px; position: relative; vertical-align: top; }
.item:nth-child(5n) { margin-right: 0; }
.item .imgDiv { width: 198px; height: 198px; display: table; margin-bottom: 20px; }
.item .imgDiv .center { display: table-cell; vertical-align: middle; text-align: center; max-width: 198px; }
.item .imgDiv .center img { max-width: 198px; max-height: 198px; vertical-align: middle; text-align: center; }
.item.new .imgDiv .center:after { content: ""; display: block; background: url(../img/new.png); width: 50px; height: 50px; position: absolute; right: 20px; top: 0; }
.item.sale .imgDiv .center:after { content: ""; display: block; background: url(../img/sales.png); width: 50px; height: 50px; position: absolute; right: 20px; top: 0; }
.item a { font-family: "DINPro-Bold", sans-serif; font-size: 15px; color: #241d37; text-decoration: underline; line-height: 21px; }
.item .decItem { margin-top: 5px; color: #666; font-size: 12px; }
.item .sizeItem { margin-top: 5px; color: #666; font-size: 12px; line-height: 21px; }
.item .priceItem { font-family: "DINPro-Regular", sans-serif; font-size: 14px; color: #000; }
.item .priceItem span { font-family: "DINPro-Bold", sans-serif; font-size: 16px; }

.catalog2 .item { display: inline-block; margin-left: -4px; width: 198px; margin-right: 127px; margin-bottom: 30px; position: relative; }
.catalog2 .item:nth-child(4n) { margin-right: 0; }

.catalog .threeRowC2 .switchDiv { float: right; }

.pagination { padding: 20px 0; }
.pagination li { display: inline; line-height: 60px; vertical-align: middle; }
.pagination li:first-child a, .pagination li:first-child span { margin-left: 0; }
.pagination a { font-family: "DINPro-Regular", sans-serif; font-size: 16px; color: #241d37; text-decoration: underline; background: none; border: 0; padding: 6px 10px; }
.pagination span { font-family: "DINPro-Bold", sans-serif; font-size: 20px; text-decoration: none; line-height: 21px; background: none; border: none; color: #241d37; padding: 6px 10px; }
.pagination .pagination-block { padding: 0 10px; background: #f1f2f5; display: table; margin: 0 auto; height: 60px; }
.pagination .pagination-item { margin: 10px 0; display: inline-block; padding-left: 0; border-radius: 4px; }

.cart h1 { font-size: 34px; margin: 20px 0; }
.cart .headInfoItem { margin-bottom: 5px; }
.cart .headInfoItem .questionBtn { border: 1px solid #fbb738; border-radius: 4px; background: none; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 4px 10px; display: block; }
.cart .headInfoItem .left { float: left; border-radius: 3px; padding: 0 10px; background: url(../img/bg_menu_link.png) repeat-x; height: 38px; line-height: 34px; }
.cart .headInfoItem .left span { vertical-align: middle; font-size: 14px; color: #666; }
.cart .headInfoItem .left a { vertical-align: middle; margin-right: 10px; font-family: "DINPro-Bold", sans-serif; font-size: 14px; color: #241d37; text-decoration: underline; }
.cart .headInfoItem .left a:hover { text-decoration: none; }
.cart .headInfoItem .left img { vertical-align: middle; }
.cart .headInfoItem .right { float: right; margin-top: 15px; }
.cart .headInfoItem .liner { display: inline-block; height: 20px; top: 9px; position: relative; border-left: 1px solid #d4d3d0; border-right: 1px solid #fff; margin-right: 10px; }
.cart .sliderItem { margin-bottom: 30px; }
.cart .sliderItem .fotorama { width: 50%; float: left; margin-right: 2%; }
.cart .sliderItem .fotorama .fotorama__thumb-border { border-color: #fbb738; }
.cart .sliderItem .advantages { float: left; width: 48%; background: #FEF0D7; }
.cart .sliderItem .listWork li { width: 30%; float: left; text-align: center; font-size: 13px; color: #666; line-height: 18px; margin-bottom: 10px; }
.cart .sliderItem .listWork li:first-child { width: 40%; }
.cart .sliderItem .textWork { width: 100%; background: #fff; font-size: 14px; color: #333; line-height: 20px; padding: 26px 0; }
.cart .sliderItem .textWork img { float: left; margin: 10px; }
.cart .sliderItem .infoDop p { margin: 26px 28px 30px 28px; font-size: 14px; color: #333; line-height: 18px; }
.cart .sliderItem .infoDop p a { color: #FBB537; text-decoration: underline; font-size: 14px; }
.cart .sliderItem .infoDop .btnLowPrice { display: inline-block; background: #FBB537; color: #FFF; padding: 11px 23px; text-decoration: none; text-transform: uppercase; font-size: 19px; border-radius: 3px; line-height: 24px; margin: 0 28px 30px 28px; }
.cart .sliderItem .description { font-size: 13px; color: #9d0a0f; background: #fff; padding: 15px 0 0 10px; line-height: 20px; }
.cart .four-advantages { border-bottom: 1px dashed #d4d3d0; padding: 10px 0 30px 0; margin-bottom: 30px; }
.cart .four-advantages ul li { float: left; width: 25%; text-align: center; }
.cart .four-advantages ul li img { display: block; margin: 0 auto; }
.cart .confiminBasket { float: left; width: 48%; background: #f1f2f5; padding: 10px 0 20px 0; position: relative; }
.cart .confiminBasket .deshevle { position: absolute; top: 12px; right: 20px; }
.cart .confiminBasket .priceList li { border-top: 1px solid #d4d3d0; padding: 15px 0; }
.cart .confiminBasket .priceList li .w33 { width: 33.33%; float: left; text-align: center; }
.cart .confiminBasket .priceList li .bold { padding-top: 8px; }
.cart .confiminBasket .priceList li .oldnew { text-align: right; }
.cart .confiminBasket .priceList li .oldnew .new { color: #d60303; font-size: 16px; }
.cart .confiminBasket .priceList li .oldnew .old { display: block; color: #666; text-decoration: line-through; font-size: 14px; padding-top: 4px; }
.cart .confiminBasket .priceList li.onePrice input { width: 50px; height: 35px; padding: 0; margin: 0; border: none; line-height: 35px; font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #000; text-align: center; }
.cart .confiminBasket .priceList li.onePrice .defPrice { font-size: 16px; color: #000; text-align: right; line-height: 35px; vertical-align: middle; }
.cart .confiminBasket .priceList li .textRight { text-align: right; }
.cart .confiminBasket .priceList li.itogo { font-size: 20px; color: #000; }
.cart .confiminBasket .btnsCart .btnfastShoping { border: 1px solid #fbb738; border-radius: 4px; background: #fbb738; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 4px 10px; float: left; }
.cart .confiminBasket .btnsCart .btninCart { border: 1px solid #FA5151; border-radius: 4px; background: #FA5151; color: #fff; font-family: "DINPro-Bold", sans-serif; padding: 3px 10px 3px 10px; text-decoration: none; float: right; margin-left: 20px; font-size: 15px; }
.cart .confiminBasket .btnsCart .btnDefer { font-family: "DINPro-Regular", sans-serif; font-size: 15px; color: #241d37; text-decoration: underline; float: right; margin-left: 20px; margin-top: 2px; }
.cart .confiminBasket .bottom { padding: 10px !important; margin: 20px; background-color: #faffaf; font-size: 14px; font-family: "DINPro-Regular", sans-serif; }
.cart .confiminBasket .textRight { text-align: right; }
.cart .confiminBasket .top, .cart .confiminBasket .priceList, .cart .confiminBasket .btnsCart, .cart .confiminBasket .bottom { padding: 10px 20px 0 20px; }
.cart .confiminBasket .top p { margin-bottom: 5px; }
.cart .confiminBasket .top .ptop { padding-top: 10px; }
.cart .confiminBasket .jq-number { padding: 0 38px; }
.cart .confiminBasket .number-plus-minus input { width: 50px; height: 35px; text-align: center; background: #fff; line-height: 35px; font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #000; border: none; box-sizing: border-box; }
.cart .confiminBasket .jq-number__field { width: 50px; border-radius: 0; border: none; box-shadow: none; }
.cart .confiminBasket .jq-number__field input { text-align: center; background: #fff; width: 50px; height: 35px; line-height: 35px; font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #000; }
.cart .confiminBasket .jq-number__spin { left: 0; height: 32px; border: none; background: none; box-shadow: none; }
.cart .confiminBasket .jq-number.focused .jq-number__field { border-color: transparent; }
.cart .confiminBasket .jq-number__spin.plus { right: 0; left: auto; }
.cart .confiminBasket .jq-number__spin:before { content: ''; position: absolute; top: 14px; left: 9px; width: 14px; height: 4px; border: none; background: #55a723; }
.cart .confiminBasket .jq-number__spin.minus:after { display: none; }
.cart .confiminBasket .jq-number__spin.minus:before { background: #b75f1e; }
.cart .confiminBasket .jq-number__spin.plus:after { top: 9px; left: 14px; width: 4px; height: 14px; border: none; background: #55a723; }
.cart .confiminBasket .jq-number__spin:hover:before, .cart .confiminBasket .jq-number__spin.plus:hover:after { background: #000; }

.tabs { display: block; position: relative; }
.tabs .tabContent { padding-top: 10px; }
.tabs .tabContent h2 { text-align: center; font-family: "DINPro-Bold", sans-serif; font-size: 22px; color: #000; }
.tabs .tabContent .listItems { margin-bottom: 30px; }
.tabs .tabContent .item { margin-right: 94px; }
.tabs .tabContent .item:nth-child(4n) { margin-right: 0; }
.tabs .tabContent .inBasket { position: absolute; bottom: 0; right: 0; display: block; width: 24px; height: 24px; }
.tabs .tabContent .listUlCircle { font-size: 15px; color: #000; }
.tabs .tabContent .text { font-size: 15px; color: #000; }
.tabs .tabsWrap { background: #f1f2f5; padding: 25px 50px 50px; }
.tabs .tabsList { margin: 0px; padding: 0px; }
.tabs .tabsList li { color: #000; cursor: default; background-color: #f1f2f5; font-family: "DINPro-Bold", sans-serif; font-size: 18px; display: inline-block; padding: 10px 15px; vertical-align: top; margin-right: -4px; }

.socialCart { position: absolute; top: 0; right: 0; display: block; }

.basket h1 { display: inline-block; font-size: 36px; padding: 25px 0 15px 0; margin-bottom: 20px; text-transform: none; border-bottom: 4px solid #fbb738; }
.basket .tabs { margin-bottom: 50px; }
.basket .tabs .tabsWrap { padding: 20px; }
.basket .tabs .tabsList li { background: none; }
.basket .tabs .tabsList li.active { background: #f1f2f5; }
.basket .stepOne .photo { width: 17%; float: left; }
.basket .stepOne .name { width: 20%; float: left; }
.basket .stepOne .kol { width: 28%; float: left; }
.basket .stepOne .price { width: 15%; float: left; }
.basket .stepOne .summ { width: 20%; float: left; }
.basket .stepOne .title { font-size: 14px; color: #000; font-family: "DINPro-Bold", sans-serif; border-bottom: 1px solid #d4d3d0; line-height: normal; padding: 15px 0; }
.basket .stepOne .basketItem { border-bottom: 1px solid #d4d3d0; padding: 20px 0; }
.basket .stepOne .basketItem .photo { min-height: 110px; }
.basket .stepOne .basketItem .photo img { height: 110px; }
.basket .stepOne .basketItem .name a { font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #241d37; text-decoration: underline; }
.basket .stepOne .basketItem .name a:hover { text-decoration: none; }
.basket .stepOne .basketItem .name span { padding-top: 5px; display: block; }
.basket .stepOne .basketItem .price { font-family: "DINPro-Bold", sans-serif; font-size: 18px; color: #000; }
.basket .stepOne .basketItem .summ { font-family: "DINPro-Bold", sans-serif; font-size: 18px; color: #000; position: relative; }
.basket .stepOne .basketItem .summ .deleteItem { position: absolute; top: 0; right: 0; }
.basket .stepOne .bottomInfo { margin-top: -1px; background: #e3e4e7; padding: 40px 20px 40px 20px; }
.basket .stepOne .bottomInfo .btnYBas { border: 1px solid #fbb738; border-radius: 4px; background: #fbb738; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 7px 10px; margin-left: 10px; }
.basket .stepOne .bottomInfo .promo { float: left; }
.basket .stepOne .bottomInfo .promo span { display: inline-block; margin-right: 8px; line-height: 30px; }
.basket .stepOne .bottomInfo .promo input { height: 20px; width: 160px; padding: 4px 10px; font-size: 14px; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; }
.basket .stepOne .bottomInfo .itogoBask { float: right; line-height: 30px; vertical-align: middle; font-family: "DINPro-Bold", sans-serif; font-size: 16px; }
.basket .stepOne .bottomInfo .itogoBask .oldP { text-decoration: line-through; margin-right: 5px; padding-left: 5px; }
.basket .stepOne .bottomInfo .itogoBask .newP { color: red; font-size: 21px; }
.basket .stepTwo h3 { font-family: "DINPro-Bold", sans-serif; font-size: 20px; color: #000; padding: 10px 0 20px 0; }
.basket .stepTwo .step1 li { display: inline-block; position: relative; min-width: 600px; margin-bottom: 20px; }
.basket .stepTwo .step1 .inputTitle { font-family: "DINPro-Regular", sans-serif; font-size: 14px; color: #000; padding-top: 5px; width: 180px; display: inline-block; }
.basket .stepTwo .step1 .inputTitle i { color: #e61212; }
.basket .stepTwo .step1 input { width: 400px; padding: 5px 10px; height: 24px; line-height: 24px; color: #666; font-size: 14px; background-color: #fff; border: 1px solid #d4d3d0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); outline: none; }
.basket .stepTwo .step1 input.phone { padding-left: 30px; width: 380px; }
.basket .stepTwo .step1 input.sdacha { width: 150px; margin-right: 20px; }
.basket .stepTwo .step1 input:focus { border-color: #fbb738; }
.basket .stepTwo .step1 .phonePlus { display: block; width: 22px; height: 34px; background: #ddd; font-size: 14px; line-height: 34px; text-align: center; position: absolute; margin-top: 1px; margin-left: 1px; top: 0; right: 400px; }
.basket .stepTwo .step1 .domLi input { margin: 0 20px 20px 0; }
.basket .stepTwo .step1 .domLi .domInp { width: 39px; }
.basket .stepTwo .step1 .domLi .korpInp { width: 135px; }
.basket .stepTwo .step1 .domLi .podInp { width: 135px; }
.basket .stepTwo .step1 .domLi .domofInp { width: 140px; margin-left: 183px; }
.basket .stepTwo .step1 .domLi .kvartInp { width: 215px; }
.basket .stepTwo .step2 { border-bottom: 1px solid #fff; margin-bottom: 20px; }
.basket .stepTwo .step2 .radio { display: inline-block; width: 200px; margin-right: 20px; vertical-align: top; margin-bottom: 20px; }
.basket .stepTwo .step2 .radio input[type="radio"] { display: none; }
.basket .stepTwo .step2 .radio input[type="radio"] + label { margin-right: 0; cursor: pointer; line-height: 20px; font-size: 14px; color: #000; }
.basket .stepTwo .step2 .radio input[type="radio"] + label span { display: inline-block; width: 16px; height: 16px; margin: -5px 10px 0 0; vertical-align: middle; background: url("../img/check2.png") right top no-repeat; cursor: pointer; }
.basket .stepTwo .step2 .radio a { color: #428bca; text-decoration: none; }
.basket .stepTwo .step2 .radio input[type="radio"]:checked + label, .basket .stepTwo .step2 .radio input[type="radio"]:checked + label a { font-family: "DINPro-Bold", sans-serif; }
.basket .stepTwo .step2 .radio input[type="radio"]:checked + label span { background: url("../img/check2.png") left top no-repeat; }
.basket .stepTwo .step2 .check { margin-bottom: 20px; }
.basket .stepTwo .step2 .check input[type="checkbox"] { display: none; }
.basket .stepTwo .step2 .check i { color: #e61212; margin-right: 5px; }
.basket .stepTwo .step2 .check input[type="checkbox"] + label { color: #000; font-family: "DINPro-Regular", sans-serif; font-size: 14px; margin-right: 20px; /*width: 130px;*/ }
.basket .stepTwo .step2 .check input[type="checkbox"] + label a { color: #241d37; font-family: "DINPro-Bold", sans-serif; font-size: 14px; text-decoration: underline; }
.basket .stepTwo .step2 .check input[type="checkbox"] + label a:hover { text-decoration: none; }
.basket .stepTwo .step2 .check input[type="checkbox"] + label span { display: inline-block; width: 20px; height: 20px; margin: -5px 10px 0 0; vertical-align: middle; background: url("../img/check.png") left top no-repeat; cursor: pointer; }
.basket .stepTwo .step2 .check input[type="checkbox"]:checked + label span { background: url("../img/check.png") -20px top no-repeat; }
.basket .stepTwo .step3 .title { font-size: 14px; color: #000; font-family: "DINPro-Bold", sans-serif; line-height: normal; padding: 15px 0; }
.basket .stepTwo .step3 .basketItem { border-top: 1px solid #d4d3d0; padding: 20px 0; font-size: 18px; color: #000; }
.basket .stepTwo .step3 .photo { width: 17%; float: left; }
.basket .stepTwo .step3 .name { width: 43%; float: left; }
.basket .stepTwo .step3 .name a { font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #241d37; text-decoration: underline; }
.basket .stepTwo .step3 .name a:hover { text-decoration: none; }
.basket .stepTwo .step3 .name span { display: block; padding-top: 5px; font-size: 14px; }
.basket .stepTwo .step3 .kol { width: 20%; float: left; }
.basket .stepTwo .step3 .summ { width: 20%; float: left; }
.basket .stepTwo .step3 textarea { display: inline-block; width: 60%; height: 75px; padding: 0 10px; font-family: "DINPro-Regular", sans-serif; font-size: 14px; line-height: 34px; color: #666; background-color: #fff; border: 1px solid #d4d3d0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); margin-bottom: 20px; resize: vertical; vertical-align: top; }
.basket .stepTwo .step3 .finish { padding: 0 0 0 20px; display: inline-block; vertical-align: top; }
.basket .stepTwo .step3 .finish .Ssum { font-family: "DINPro-Bold", sans-serif; font-size: 24px; color: #000; display: block; padding-bottom: 10px; }
.basket .stepTwo .step3 .finish .Sdec { font-size: 12px; color: #666; display: block; }
.basket .stepTwo .step3 .finish .Sbtn { border: 1px solid #fbb738; border-radius: 4px; background: #fbb738; font-family: "DINPro-Bold", sans-serif; font-size: 12px; color: #000; text-transform: uppercase; padding: 7px 10px; margin-top: 20px; display: inline-block; }
.basket .kol input { text-align: center; background: #fff; width: 50px; height: 35px; line-height: 35px; font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #000; margin: 0 38px; }
.basket .jq-number.focused .jq-number__field { border: none; }
.basket .jq-number { padding: 0 38px; }
.basket .jq-number__field { width: 50px; border-radius: 0; border: none; box-shadow: none; }
.basket .jq-number__field input { text-align: center; background: #fff; width: 50px; height: 35px; line-height: 35px; font-family: "DINPro-Bold", sans-serif; font-size: 16px; color: #000; margin: 0; }
.basket .jq-number__spin { left: 0; height: 32px; border: none; background: none; box-shadow: none; }
.basket .jq-number.focused .jq-number__field { border-color: transparent; }
.basket .jq-number__spin.plus { right: 0; left: auto; }
.basket .jq-number__spin:before { content: ''; position: absolute; top: 14px; left: 9px; width: 14px; height: 4px; border: none; background: #55a723; }
.basket .jq-number__spin.minus:after { display: none; }
.basket .jq-number__spin.minus:before { background: #b75f1e; }
.basket .jq-number__spin.plus:after { top: 9px; left: 14px; width: 4px; height: 14px; border: none; background: #55a723; }
.basket .jq-number__spin:hover:before, .basket .jq-number__spin.plus:hover:after { background: #000; }

.dostavka h1 { font-size: 34px; text-transform: none; }
.dostavka .content-dost { padding: 30px 10px; }
.dostavka .titleD { font-family: "DINPro-Regular", sans-serif; font-size: 24px; color: #241d37; margin-bottom: 10px; }
.dostavka .line-dashed { border-top: 1px dashed #d4d3d0; margin: 30px 0; }
.dostavka .decD { font-family: "DINPro-Regular", sans-serif; font-size: 15px; color: #000; margin-bottom: 20px; }
.dostavka .typesO li { display: inline-block; width: 33.33%; margin-left: -4px; text-align: center; padding: 40px 0; }
.dostavka .typesO li img { display: block; margin: 0 auto; width: 90%; max-width: 300px; }
.dostavka .typesO li span { font-family: "DINPro-Regular", sans-serif; font-size: 18px; color: #241d37; margin: 10px 0; display: block; }
.dostavka .adressD { margin-bottom: 20px; padding-left: 2%; }
.dostavka .adressD li { display: inline-block; width: 45%; padding-right: 5%; margin-left: -4px; vertical-align: top; margin-bottom: 20px; font-family: "DINPro-Regular", sans-serif; font-size: 15px; color: #000; line-height: 20px; }
.dostavka a { color: #428bca; text-decoration: none; font-size: 15px; }
.dostavka .marB { margin-top: 15px; display: inline-block; }
.dostavka table { border-spacing: 0; border-collapse: collapse; font-size: 15px; color: #000; line-height: 20px; margin-bottom: 20px; }
.dostavka table td { padding: 8px 12px; }
.dostavka .karta { width: 100%; margin-bottom: 20px; display: block; }

.contact h1 { font-size: 34px; text-transform: none; }
.contact .content-cont { padding: 30px 10px; }
.contact .midHeaderPhones { display: inline-block; vertical-align: top; padding-top: 25px; }
.contact .midHeaderPhones .phone { display: block; font-family: "DINPro-Regular", sans-serif; font-size: 22px; color: #000; text-decoration: none; line-height: 28px; }
.contact .midHeaderPhones .phoneTxt { display: block; font-size: 13px; color: #acacac; margin-bottom: 5px; }
.contact .listcol2 { font-size: 15px; margin-bottom: 20px; }
.contact .listcol2 li { width: 45%; display: inline-block; margin-left: -4px; padding-right: 5%; vertical-align: top; margin-bottom: 20px; }
.contact .listcol2 h4 { font-size: 18px; padding: 10px 0; }
.contact .listcol2 h5 { font-size: 15px; font-weight: 700; line-height: 24px; }
.contact .listcol2 p { line-height: 18px; margin-bottom: 3px; }
.contact .listcol2 a { color: #428bca; text-decoration: none; }
.contact .listcol2 a:hover { text-decoration: underline; }
.contact iframe { margin-bottom: 30px; }
.contact h3 { text-align: center; padding: 50px 0 20px 0; font-size: 24px; }
.contact .center { text-align: center; }
.contact .listcol3 { width: 900px; margin: 0 auto; }
.contact .listcol3 li { display: inline-block; width: 28%; margin-left: -4px; margin-bottom: 20px; vertical-align: top; font-size: 15px; line-height: 18px; }
.contact .listcol3 li.first { width: 44%; }

.page-variant h1 { font-size: 34px; text-transform: none; margin-bottom: 20px; padding-top: 10px; }
.page-variant .left { float: left; width: 25%; margin-right: 3%; }
.page-variant .left ul { padding: 20px; border: 3px solid #fbb738; margin-bottom: 30px; }
.page-variant .left ul li { padding: 5px 0; }
.page-variant .left ul li a { font-size: 16px; color: #000; font-family: "DINPro-Regular", sans-serif; text-decoration: underline; }
.page-variant .left ul li a:hover { text-decoration: none; }
.page-variant .left ul li a.active { font-size: 16px; color: #000; font-family: "DINPro-Bold", sans-serif; text-decoration: none; pointer-events: none; }
.page-variant .left .btnOrg { float: left; }
.page-variant .right { float: right; width: 72%; }
.page-variant .right .redtext { color: #9d0039; }
.page-variant .right .redtext a { color: #428bca; text-decoration: none; }
.page-variant .right .listCollection { padding-top: 30px; }
.page-variant .right .listCollection li { width: 31.33%; padding: 0 1%; display: inline-block; vertical-align: top; margin-left: -4px; margin-bottom: 30px; }
.page-variant .right .listCollection li img { display: block; width: 100%; max-width: 230px; }
.page-variant .right .listCollection li a { display: block; margin-bottom: 10px; }
.page-variant .right .listCollection li span { display: block; font-family: "DINPro-Regular", sans-serif; font-size: 13px; color: #000; margin-bottom: 3px; }
.page-variant .right .listCollection li .itTit { font-size: 15px; color: #241d37; display: inline-block; }
.page-variant .right .listCollection li .itTit:hover { text-decoration: underline; }
.page-variant .right .listCollection li .colTit { font-family: "DINPro-Regular", sans-serif; font-size: 13px; color: #241d37; display: inline-block; margin: 0; text-decoration: underline; }

.shares { padding-bottom: 30px; }
.shares h1 { font-size: 34px; text-transform: none; margin-bottom: 20px; padding-top: 10px; line-height: normal; }
.shares .shares-list li { width: 22%; display: inline-block; margin-left: -4px; vertical-align: top; margin-right: 4%; margin-bottom: 30px; text-align: center; }
.shares .shares-list li:nth-child(4n) { margin-right: 0; }
.shares .shares-list img { display: block; margin-bottom: 10px; width: 100%; max-width: 260px; }
.shares .shares-list .shtitle { font-family: "DINPro-Regular", sans-serif; font-size: 16px; color: #241d37; text-decoration: underline; line-height: 24px; }
